<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_cob.dept_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_cob.rna_plan_id_code %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_cob.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @claim_cob.fill_number %>
</p>

<p>
  <strong>Other payor count:</strong>
  <%= @claim_cob.other_payor_count %>
</p>

<p>
  <strong>Primary payor coverage type:</strong>
  <%= @claim_cob.primary_payor_coverage_type %>
</p>

<p>
  <strong>Primary payor id qualifier:</strong>
  <%= @claim_cob.primary_payor_id_qualifier %>
</p>

<p>
  <strong>Primary payor:</strong>
  <%= @claim_cob.primary_payor_id %>
</p>

<p>
  <strong>Primary payor date:</strong>
  <%= @claim_cob.primary_payor_date %>
</p>

<p>
  <strong>Primary payor reject count:</strong>
  <%= @claim_cob.primary_payor_reject_count %>
</p>

<p>
  <strong>Primary payor reject code:</strong>
  <%= @claim_cob.primary_payor_reject_code %>
</p>

<p>
  <strong>Primary payor paid count:</strong>
  <%= @claim_cob.primary_payor_paid_count %>
</p>

<p>
  <strong>Primary payor paid qualifier:</strong>
  <%= @claim_cob.primary_payor_paid_qualifier %>
</p>

<p>
  <strong>Primary payor amount paid:</strong>
  <%= @claim_cob.primary_payor_amount_paid %>
</p>

<p>
  <strong>Primary patient amount qualifier:</strong>
  <%= @claim_cob.primary_patient_amount_qualifier %>
</p>

<p>
  <strong>Primary patient amount:</strong>
  <%= @claim_cob.primary_patient_amount %>
</p>

<p>
  <strong>Primary benefit qualifier:</strong>
  <%= @claim_cob.primary_benefit_qualifier %>
</p>

<p>
  <strong>Primary benefit amount:</strong>
  <%= @claim_cob.primary_benefit_amount %>
</p>

<p>
  <strong>Primary control number:</strong>
  <%= @claim_cob.primary_control_number %>
</p>

<p>
  <strong>Secondary payor coverage type:</strong>
  <%= @claim_cob.secondary_payor_coverage_type %>
</p>

<p>
  <strong>Secondary payor id qualifier:</strong>
  <%= @claim_cob.secondary_payor_id_qualifier %>
</p>

<p>
  <strong>Secondary payor:</strong>
  <%= @claim_cob.secondary_payor_id %>
</p>

<p>
  <strong>Secondary payor date:</strong>
  <%= @claim_cob.secondary_payor_date %>
</p>

<p>
  <strong>Secondary payor reject count:</strong>
  <%= @claim_cob.secondary_payor_reject_count %>
</p>

<p>
  <strong>Secondary payor reject code:</strong>
  <%= @claim_cob.secondary_payor_reject_code %>
</p>

<p>
  <strong>Secondary payor paid count:</strong>
  <%= @claim_cob.secondary_payor_paid_count %>
</p>

<p>
  <strong>Secondary payor paid qualifier:</strong>
  <%= @claim_cob.secondary_payor_paid_qualifier %>
</p>

<p>
  <strong>Secondary payor amount paid:</strong>
  <%= @claim_cob.secondary_payor_amount_paid %>
</p>

<p>
  <strong>Secondary patient amount qualifier:</strong>
  <%= @claim_cob.secondary_patient_amount_qualifier %>
</p>

<p>
  <strong>Secondary patient amount:</strong>
  <%= @claim_cob.secondary_patient_amount %>
</p>

<p>
  <strong>Secondary benefit qualifier:</strong>
  <%= @claim_cob.secondary_benefit_qualifier %>
</p>

<p>
  <strong>Secondary benefit amount:</strong>
  <%= @claim_cob.secondary_benefit_amount %>
</p>

<p>
  <strong>Secondary control number:</strong>
  <%= @claim_cob.secondary_control_number %>
</p>

<p>
  <strong>Tertiary payor coverage type:</strong>
  <%= @claim_cob.tertiary_payor_coverage_type %>
</p>

<p>
  <strong>Tertiary payor id qualifier:</strong>
  <%= @claim_cob.tertiary_payor_id_qualifier %>
</p>

<p>
  <strong>Tertiary payor:</strong>
  <%= @claim_cob.tertiary_payor_id %>
</p>

<p>
  <strong>Tertiary payor date:</strong>
  <%= @claim_cob.tertiary_payor_date %>
</p>

<p>
  <strong>Tertiary payor reject count:</strong>
  <%= @claim_cob.tertiary_payor_reject_count %>
</p>

<p>
  <strong>Tertiary payor reject code:</strong>
  <%= @claim_cob.tertiary_payor_reject_code %>
</p>

<p>
  <strong>Tertiary payor paid count:</strong>
  <%= @claim_cob.tertiary_payor_paid_count %>
</p>

<p>
  <strong>Tertiary payor paid qualifier:</strong>
  <%= @claim_cob.tertiary_payor_paid_qualifier %>
</p>

<p>
  <strong>Tertiary payor amount paid:</strong>
  <%= @claim_cob.tertiary_payor_amount_paid %>
</p>

<p>
  <strong>Tertiary patient amount qualifier:</strong>
  <%= @claim_cob.tertiary_patient_amount_qualifier %>
</p>

<p>
  <strong>Tertiary patient amount:</strong>
  <%= @claim_cob.tertiary_patient_amount %>
</p>

<p>
  <strong>Tertiary benefit qualifier:</strong>
  <%= @claim_cob.tertiary_benefit_qualifier %>
</p>

<p>
  <strong>Tertiary benefit amount:</strong>
  <%= @claim_cob.tertiary_benefit_amount %>
</p>

<p>
  <strong>Tertiary control number:</strong>
  <%= @claim_cob.tertiary_control_number %>
</p>

<p>
  <strong>Fourth payor coverage type:</strong>
  <%= @claim_cob.fourth_payor_coverage_type %>
</p>

<p>
  <strong>Fourth payor id qualifier:</strong>
  <%= @claim_cob.fourth_payor_id_qualifier %>
</p>

<p>
  <strong>Fourth payor:</strong>
  <%= @claim_cob.fourth_payor_id %>
</p>

<p>
  <strong>Fourth payor date:</strong>
  <%= @claim_cob.fourth_payor_date %>
</p>

<p>
  <strong>Fourth payor reject count:</strong>
  <%= @claim_cob.fourth_payor_reject_count %>
</p>

<p>
  <strong>Fourth payor reject code:</strong>
  <%= @claim_cob.fourth_payor_reject_code %>
</p>

<p>
  <strong>Fourth payor paid count:</strong>
  <%= @claim_cob.fourth_payor_paid_count %>
</p>

<p>
  <strong>Fourth payor paid qualifier:</strong>
  <%= @claim_cob.fourth_payor_paid_qualifier %>
</p>

<p>
  <strong>Fourth payor amount paid:</strong>
  <%= @claim_cob.fourth_payor_amount_paid %>
</p>

<p>
  <strong>Fourth patient amount qualifier:</strong>
  <%= @claim_cob.fourth_patient_amount_qualifier %>
</p>

<p>
  <strong>Fourth patient amount:</strong>
  <%= @claim_cob.fourth_patient_amount %>
</p>

<p>
  <strong>Fourth benefit qualifier:</strong>
  <%= @claim_cob.fourth_benefit_qualifier %>
</p>

<p>
  <strong>Fourth benefit amount:</strong>
  <%= @claim_cob.fourth_benefit_amount %>
</p>

<p>
  <strong>Fourth control number:</strong>
  <%= @claim_cob.fourth_control_number %>
</p>

<%= link_to 'Edit', edit_claim_cob_path(@claim_cob) %> |
<%= link_to 'Back', claim_cobs_path %>
