<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_prior_auth.dept_number %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_prior_auth.rx_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_prior_auth.rna_plan_id_code %>
</p>

<p>
  <strong>Authorization number:</strong>
  <%= @claim_prior_auth.authorization_number %>
</p>

<p>
  <strong>Authorization basis:</strong>
  <%= @claim_prior_auth.authorization_basis %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @claim_prior_auth.effective_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @claim_prior_auth.expiration_date %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @claim_prior_auth.request_type %>
</p>

<p>
  <strong>Representative first name:</strong>
  <%= @claim_prior_auth.representative_first_name %>
</p>

<p>
  <strong>Representative last name:</strong>
  <%= @claim_prior_auth.representative_last_name %>
</p>

<p>
  <strong>Representative address:</strong>
  <%= @claim_prior_auth.representative_address %>
</p>

<p>
  <strong>Representative city:</strong>
  <%= @claim_prior_auth.representative_city %>
</p>

<p>
  <strong>Representative state:</strong>
  <%= @claim_prior_auth.representative_state %>
</p>

<p>
  <strong>Representative zip code:</strong>
  <%= @claim_prior_auth.representative_zip_code %>
</p>

<p>
  <strong>Supporting text:</strong>
  <%= @claim_prior_auth.supporting_text %>
</p>

<p>
  <strong>Response amount authorized:</strong>
  <%= @claim_prior_auth.response_amount_authorized %>
</p>

<p>
  <strong>Response effective date:</strong>
  <%= @claim_prior_auth.response_effective_date %>
</p>

<p>
  <strong>Response expiration date:</strong>
  <%= @claim_prior_auth.response_expiration_date %>
</p>

<p>
  <strong>Refills authorized:</strong>
  <%= @claim_prior_auth.refills_authorized %>
</p>

<p>
  <strong>Response processed date:</strong>
  <%= @claim_prior_auth.response_processed_date %>
</p>

<p>
  <strong>Quantity authorized:</strong>
  <%= @claim_prior_auth.quantity_authorized %>
</p>

<p>
  <strong>Quantity accumulated:</strong>
  <%= @claim_prior_auth.quantity_accumulated %>
</p>

<%= link_to 'Edit', edit_claim_prior_auth_path(@claim_prior_auth) %> |
<%= link_to 'Back', claim_prior_auths_path %>
