<%= simple_form_for(@claim_clinical) do |f| %>
  <%= f.error_notification %>
	<div class="inputs">   
	    <%= f.hidden_field :dept_number%>
    	                 
    	<div style="block:inline">                          
					<div style="float:left; border-style: dotted; border-width: thin;width:400px;">  
							<div style="float:left; border-style:none; width:390px; height: 600px; padding-left:15px; padding-top: 5px;">
    							< Customer Name >
    							</br>   							
    							< Prescriber Name >
    							</br>
    							< Item Name >
    							</br>
    				    	<%= f.input :rx_number %>
    							<%= f.input :rna_plan_id_code %>
    							</br>
    							<%= f.input :diagnosis_counter %>
    							<%= f.input :diagnosis_code_qualifier %>
    							<%= f.input :diagnosis_code %>
    							</br>
    							<%= f.input :diagnosis_counter %>
    							<%= f.input :diagnosis_code_qualifier %>
    							<%= f.input :diagnosis_code %>
    							</br>
    							<%= f.input :diagnosis_counter %>
    							<%= f.input :diagnosis_code_qualifier %>
    							<%= f.input :diagnosis_code %>
    							</br>
    							<%= f.input :diagnosis_counter %>
    							<%= f.input :diagnosis_code_qualifier %>
    							<%= f.input :diagnosis_code %>
    							</br>
    							<%= f.input :diagnosis_counter %>
    							<%= f.input :diagnosis_code_qualifier %>
    							<%= f.input :diagnosis_code %>

   							 							
							</div>                                               
					</div> 
					
                                             
					<div style="float:left; border-style: dotted; border-width: thin; width:400px;">
						<div style="float:left; border-style:none; width:390px; height: 600px; padding-left:15px; padding-top: 5px;">
								</br>
								<%= f.input :clinical_counter %>
    						<%= f.input :clinical_dimension %>
    						<%= f.input :clinical_time %>
    						<%= f.input :clinical_unit %>
    						<%= f.input :clinical_value %>
								</br>
								<%= f.input :clinical_counter %>								
    						<%= f.input :clinical_dimension %>
    						<%= f.input :clinical_time %>
    						<%= f.input :clinical_unit %>
    						<%= f.input :clinical_value %>
								<%= f.input :clinical_counter %>
								</br>
								<%= f.input :clinical_counter %>								
    						<%= f.input :clinical_dimension %>
    						<%= f.input :clinical_time %>
    						<%= f.input :clinical_unit %>
    						<%= f.input :clinical_value %>
								</br>
								<%= f.input :clinical_counter %>								
    						<%= f.input :clinical_dimension %>
    						<%= f.input :clinical_time %>
    						<%= f.input :clinical_unit %>
    						<%= f.input :clinical_value %>
								</br>
								
    				</div>
				</div>

					<div style="float:left; border-style: dotted; border-width: thin;width:390px;">  
							<div style="float:left; border-style:none; height: 600px; padding-left:15px; padding-top: 5px;">
							</br>
							</div>
					</div>
								
		</div>  

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
