<% provide(:point_of_sale, "active") %>

<%= form_for(@pos_transaction) do |f| %>

    <div class="col-lg-10 phx-working-area-background">

      <!-- working area title and nav -->
      <div class="row span10 phx-working-area-nav">

        <%# temporarily disable hamburger  with  type="button" %>
        <div class="col-xs-1 phx-hamburger-box">
          <button type="button" class="phx-hamburger">|||</button>
        </div>

        <div class="phx-working-area-nav">
          <row>
            <div class="col-lg-8">
              <div class="phx-working-area-title">Point of Sale&nbsp;&nbsp;|&nbsp;&nbsp;
                <span style="font-weight: bold;" id="posFullDisplayName">
                                Register
                </span>
              </div>
            </div>
            <div class="col-lg-3 phx-working-area-title-buttons">
            </div>
          </row>
        </div> <%# END of Working Area TITLE %>

      </div> <%# END of Working Area TITLE and NAV %>

      <%# BEGIN Working Area %>
      <div class="containter-fluid phx-working-area-background phx-working-area-position">

        <!-- Primary Info -->
        <div class="col-lg-4">

          <div class="phx-primary-info-column">

            <!--<div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>-->

            <div class="col-md-12">
              <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                Primary Info
              </div>
            </div>
            <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"><br></div>

            <!--<div class="form-group phx-input-control-spacer" style="margin-bottom: -25px;">&nbsp;</div>-->

            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :initials, "Cashier", 1, "col-md-6" %>
              <%= phx_textfield_for f, :register_number, "Register Number", 2, "col-md-6" %>
            </div>

            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :transaction_date, "Transaction Date", -1, "col-md-6", nil, nil, Time.now %>
              <%= phx_textfield_for f, :ticket_number, "Ticket Number", 2, "col-md-6" %>

            </div>
          </div>
          <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

          <div class="phx-primary-info-column">
            <!--<div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>-->

            <div class="col-md-12">
              <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                Transaction Totals
              </div>
            </div>
            <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"><br></div>

            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :medical_amount, "Medical", -1, "col-md-6", :readonly %>
              <%= phx_textfield_for f, :medical_tax, "Tax", -1, "col-md-6", :readonly %>

            </div>
            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :non_medical_amount, "Non Medical", -1, "col-md-6", :readonly %>
              <%= phx_textfield_for f, :non_medical_tax, "Tax", -1, "col-md-6" , :readonly%>
            </div>
            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :medical_total, "Medical Sub-Total", -1, "col-md-6", :readonly %>
              <%= phx_textfield_for f, :non_medical_total, "Non Medical Sub-Total", -1, "col-md-6", :readonly %>
            </div>
            <div class="row phx-two-horizontal-controls">
              <%= phx_textfield_for f, :total_amount, "Total Due", -1, "col-md-6", :readonly %>
              <%= phx_textfield_for f, :total_tax, "Tax", -1, "col-md-6", :readonly %>
            </div>
          </div>
          <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>
          <div class="phx-primary-info-column">
            <div class="col-md-12">
              <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                Payment
              </div>
            </div>
            <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"><br></div>

            <div class="row phx-two-horizontal-controls">
              <div class="field form-group phx-input-control col-md-6">
                <label class="phx-form-control-label" for="compound_form">Payment Type 1</label>
                <%= phx_selectfield_for f, :primary_payment_method, "Payment Type 1", PosTransaction.payment_methods, false, 103, "col-md-6 register-primary-payment-type", true, "pos_transaction_primary_payment_method", true %>
              </div>
              <%= phx_textfield_for f, :primary_payment_amount, "Amount", 104, "col-md-6" %>
            </div>
            <div class="row phx-two-horizontal-controls">
              <div class="field form-group phx-input-control col-md-6">
                <label class="phx-form-control-label" for="compound_form">Payment Type 2</label>
                <%= phx_selectfield_for f, :secondary_payment_method, "Payment Type 2", PosTransaction.payment_methods, false, 105, "col-md-6 register-primary-payment-type", true, "pos_transaction_secondary_payment_method", true %>
              </div>
                <%= phx_textfield_for f, :secondary_payment_amount, "Amount", 106, "col-md-6" %>
            </div>
            <div class="row phx-two-horizontal-controls">
              <div class="col-md-6" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-top:5px;">Total Paid: <span class="total_paid"><%= @totalpaid %></span></div>
              <div class="col-md-6" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-top:5px;">Change Due: <span class="change_due"><%= @changedue %></span></div>
            </div>
            <div class="field form-group phx-input-control-spacer">&nbsp;
            </div>
            <%= phx_blue_submit_button_for f, "Item", [], "", "phx-btn-model-control-width pull-right", false, false, "pos_transaction_print_receipt", "Print Receipt" , 107%>
            <div class="field form-group phx-input-control-spacer">&nbsp;
            </div>

          </div>

        </div> <!-- end of container fluid for Primary Info -->

      </div> <!-- end of Primary Info col lg def -->

      <div class="col-lg-8  ">

        <!-- Tab labels -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#posRegister" role="tab" data-toggle="tab">Point of Sale Register</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content phx-tab-pane">
          <div class="tab-pane active" id="posPanel-register">
            <div class="container-fluid">
              <div class="row">
                <%= f.fields_for :pos do |ff| %>
                    <div id="hidden_fields">
                    </div>
                    <div class="col-lg-12">
                      <% choice = 0 %>
                      <table class="phx-search-font table table-bordered">
                        <thead class="">
                        <tr class="">
                          <th style="background-color:#f9f9fa;">Qty</th>
                          <th style="background-color:#f9f9fa;">Type</th>
                          <th style="background-color:#f9f9fa;">Rx/UPC Number</th>
                          <th style="background-color:#f9f9fa;">Med</th>
                          <th style="background-color:#f9f9fa;">Description</th>
                          <th style="background-color:#f9f9fa;">Each</th>
                          <th style="background-color:#f9f9fa;">Total</th>
                          <!--<th style="background-color:#f9f9fa;" class="col-xs-1">&nbsp;</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="new-compound-search" class="">
                          <td><input type="text" id="new-pos-qty" placeholder="" tabindex="10" value="1"/></td>
                          <td><%= select_tag(:new_pos_type, options_for_select(PosCategory.getSelectEnum), tabindex: "10", id: "new-pos-type") %></td>
                          <td><input type="text" id="new-pos-rx-upc-number" placeholder="" tabindex="10"/></td>
                          <td><input type="text" id="new-pos-med" tabindex="10"/></td>
                          <td><input type="text" id="new-pos-desc" tabindex="10"/></td>
                          <td><input type="text" id="new-pos-each" tabindex="10"/></td>
                          <td><input type="text" id="new-pos-total" tabindex="10"/></td>
                        </tr>
                        </tbody>
                      </table>
                      <!--<button tabindex="9" role="button" type="button" id="item-add-compound-button" class="btn btn-md btn-default phx-btn-model-control-blue pull-right">Add-->
                      <!--Ingredient-->
                      <!--</button>-->
                      <span id="pos-items-list">
                      <div class="col-md-12">
                        <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                          <span id="pos_transaction_items_count" ></span><%= @pos_transaction.posDetails.count %></span> Total Items
                        </div>
                      </div>
                      <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"><br></div>
                      <table class="phx-search-font table table-bordered">
                        <input type="hidden" value="<% @pos_transaction.id %>" id="transaction-id">
                        <!--<td class="col-xs-1">&nbsp;</td></tr>-->
                        <thead class="">
                        <tr class="">
                          <th style="background-color:#f9f9fa;">Qty</th>
                          <th style="background-color:#f9f9fa;">Type</th>
                          <th style="background-color:#f9f9fa;">Rx/UPC Number</th>
                          <th style="background-color:#f9f9fa;">Med</th>
                          <th style="background-color:#f9f9fa;">Description</th>
                          <th style="background-color:#f9f9fa;">Each</th>
                          <th style="background-color:#f9f9fa;">Total</th>
                          <!--<th style="background-color:#f9f9fa;" class="col-xs-1">&nbsp;</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <% @pos_transaction.posDetails.each_with_index do |fff, idx| %>
                            <tr class="" id="pos-item-<%= fff.id %>">
                              <td><input type="text" id="new-pos-qty-<%= fff.id %>" placeholder="" value="<%= fff.quantity %>" tabindex="-1"/></td>
                              <td><input type="text" id="new-pos-type-<%= fff.id %>" placeholder="" value="<%= fff.category %>"  tabindex="-1"/></td>
                              <td><input type="text" id="new-pos-rx-upc-number-<%= fff.id %>" placeholder="" value="<%= fff.rx_number || fff.item_number %>" tabindex="-1" /></td>
                              <td><input type="text" id="new-pos-med-<%= fff.id %>" disabled="true" value="<%= fff.medical_item ? "Y" : "N" %>" tabindex="-1"/></td>
                              <td><input type="text" id="new-pos-desc-<%= fff.id %>" disabled="true" value="<%= fff.item_description %>" tabindex="-1"/></td>
                              <td><input type="text" id="new-pos-each-<%= fff.id %>" disabled="true" value="<%= fff.price %>" tabindex="-1"/></td>
                              <td><input type="text" id="new-pos-total-<%= fff.id %>" disabled="true" value="<%= fff.price %>" tabindex="-1"/></td>
                              <td>
                                <span role="button" type="button" id="detail-delete-<%= fff.id %>" class="btn btn-danger button button-danger detail-delete" tabindex="11">-</span>
                              </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                      </span>

                      </br>
                    </div>
                <% end %>
              </div>

            </div> <!-- END OF Panel 2 -->
          </div>
        </div> <!-- end of tab panes -->

      </div> <!-- end of tab area -->

    </div> <!-- end of work area -->

    <div id="item_search_modal_partial">
      <div id="itemSearchModal">
      </div>
    </div>
    </div>

<% end %> <!-- end of form-->
