<%= form_for( @prescription, html: { autocomplete: "off" } ) do |f| %>

    <div class="col-lg-10 phx-working-area-background">

		<%# BEGIN Working Area TITLE and NAV %>
		<div class="row span10 phx-working-area-nav">

			<div class="col-xs-1 phx-hamburger-box">
				<button id=rx-hamburger class="phx-hamburger">|||</button>
			</div>

			<%# BEGIN Working Area TITLE %>
			<div class="row phx-working-area-title-info">
				<div class="col-lg-8">

          <div class="phx-working-area-title">Prescription Processing
						<%# if !@prescription.customer_display_name.empty? %>
              &nbsp;&nbsp;
							<span class="phx-working-area-title-displayName" id="prescriptionCustomerName">
								&nbsp;&nbsp;&nbsp;<%#= @prescription.customer_display_name %>
			      	</span>
						<%# end %>

					</div>
				</div>
				<div class="col-lg-3 phx-working-area-title-buttons">
				</div>
			</div> <%# END of Working Area TITLE %>

		</div> <%# END of Working Area TITLE and NAV %>

		<%# BEGIN Working Area %>
		<div class="containter-fluid phx-working-area-background phx-working-area-position">

			<!-- Primary Info -->
      <div class="col-lg-4">

				<div class="phx-primary-info-column">

            <!-- hidden field div to grab the value from the modal -->
            <div id="hidden_fields">
            </div>

            <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

            <div class="col-md-12">
                <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                Prescription Info
                </div>
                <%= phx_checkbox_for f, :active, "Active", "col-md-1 pull-right" %>
            </div>

            <div class="form-group phx-input-control-spacer" style="margin-bottom:-20px;">&nbsp;</div>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :rx_number, "RX #", 0, "col-md-6" %>
  						<%= phx_datefield_for f, :date_written, "Date Written", 0, "col-md-6" %>
  					</div>

            <%= phx_textsearchfield_for f, :customer_display_name, "Customer" %>
            <%= phx_textsearchfield_for f, :prescriber_display_name, "Prescriber" %>
            <%= phx_textsearchfield_for f, :item_display_name, "Drug" %>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :quantity_prescribed, "Quantity Prescribed", 0, "col-md-6" %>
  						<%= phx_textfield_for f, :last_fill_quantity, "Quantity Dispensed", 0, "col-md-6" %>
  					</div>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :refills_prescribed, "Refills", 0, "col-md-6" %>
  						<%= phx_textfield_for f, :refills_left, "Refills Left", 0, "col-md-6", :readonly %>
  					</div>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :rxForm_daily_quantity, "Daily Quantity", 0, "col-md-6" %>
              <%= phx_textfield_for f, :rxForm_days_supply, "Days Supply", 0, "col-md-6" %>
  					</div>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :payment_type, "Payment Type", 0, "col-md-6" %>
  						<%= phx_textfield_for f, :plan_name, "Plan Name", 0, "col-md-6" %>
  					</div>

            <div class="row phx-two-horizontal-controls">
              <%= phx_selectfield_for f, :dispense_as_written_code, "Dispense as Written", Prescription.dispense_as_written_codes, false, 0, "col-md-6", true %>
  						<%= phx_textfield_for f, :prescription_price, "Price", 0, "col-md-6" %>
  					</div>

  					<%= phx_textarea_for f, :directions, "Directions", 2 %>

            <div class="row phx-two-horizontal-controls">
  						<%= phx_textfield_for f, :technician_initials, "Technician", 0, "col-md-6" %>
  						<%= phx_textfield_for f, :pharmacist_initials, "Pharmacist", 0, "col-md-6" %>
  					</div>

            <div class="row phx-two-horizontal-controls">
              <%= phx_selectfield_for f, :origin_code, "Origin", Prescription.origin_codes, false, 0, "col-md-6", true %>
  						<%= phx_textfield_for f, :labels, "Labels", 0, "col-md-6" %>
  					</div>

            </br>
            <%#= phx_yellow_submit_button_for f, "Prescription", ["Create Profile", "Update Prescription"], "update", "phx-btn-model-control-width pull-left", false %>
            <%= phx_red_submit_button_for f, "Prescription", ["F i l l","R e f i l l"], "fill", "phx-btn-model-control-width pull-right", false %>

            <div class="field form-group phx-input-control-spacer">&nbsp;
            </br>

					</div>
				</div>
			</div> <!-- end of Primary Info col lg def -->
		</div> <!-- end of container fluid for Primary Info -->


		<!-- TABBED AREA -->
    <div class="col-lg-8">

			<!-- Tab labels -->
      <ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#prescriptionPanel-general" role="tab" data-toggle="tab">General Info</a></li>
				<li><a href="#prescriptionPanel-secondary" role="tab" data-toggle="tab">General Info (cont'd)</a></li>
				<li><a href="#prescriptionPanel-rxImage" role="tab" data-toggle="tab">Prescription</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content phx-tab-pane">
      	<div id="prescriptionPanel-general" class="tab-pane active">
        	<div class="row container-fluid">

						<!-- First panel, first column -->
						<div class="container-fluid col-lg-4">

              <%= phx_textfield_for f, :facility, "Facility", 0, "", :readonly %>

              <div class="row phx-two-horizontal-controls">
                <%= phx_textfield_for f, :customer_age, "Age", 0, "col-md-6", :readonly  %>
    						<%= phx_textfield_for f, :customer_gender, "Gender", 0, "col-md-6", :readonly %>
    					</div>

              <%= phx_textfield_for f, :prescriber_npi_number, "NPI #", 0, "", :readonly %>
              <%= phx_textfield_for f, :item_ndc_number, "NDC #", 0, "", :readonly %>
              <%= phx_textfield_for f, :quantity_remaining, "Quantity Left", 0, "", :readonly %>
              <%= phx_datefield_for f, :refill_through_date, "Refill Through" %>
              <%= phx_textfield_for f, :account, "Account", 0, "", :readonly %>
              <%= phx_textfield_for f, :awp, "AWP", 0, "", :readonly %>

              <%= phx_textarea_for f, :counseling, "Counseling", 7 %>
              <%= phx_textarea_for f, :notes, "Notes", 5 %>

              <div class="field form-group phx-input-control-spacer">&nbsp;</div>

						</div> <!-- END OF first panel, first column -->

						<!-- First panel, second column -->
						<div class="container-fluid col-lg-4">

              <%= phx_textfield_for f, :wing, "Wing", 0, "", :readonly %>

              <%= phx_textfield_for f, :customer_birthdate, "Birthdate", 0, "", :readonly %>
              <%= phx_textfield_for f, :prescriber_phone, "Prescriber Phone", 0, "", :readonly %>
              <%= phx_textfield_for f, :dea_schedule, "DEA Schedule", 0, "", :readonly %>
              <%= phx_textfield_for f, :item_package_size, "Package Size", 0, "", :readonly %>
              <%= phx_datefield_for f, :expiration_date, "Discard Date" %>
              <%= phx_textfield_for f, :balance, "Balance", 0, "", :readonly %>
              <%= phx_textfield_for f, :cost, "Cost", 0, "", :readonly %>

              <div class="row container-fluid">
                  <div class="container-fluid col-md-12">
                      <div class="field form-group phx-input-control-spacer">
                      </div>
                      <% choice = 0 %>
                      <table class="phx-table phx-search-font">
                          <thead class="phx-table-head">
                              <tr>
                                  <th style="background-color:#f9f9fa;" class="col-md-3">Date</th>
                                  <th style="background-color:#f9f9fa;" class="col-md-2">Quantity</th>
                                  <th style="background-color:#f9f9fa;" class="col-md-2">Pay Type</th>
                                  <th style="text-align: center; background-color:#f9f9fa;" class="col-md-3">Price</th>
                              </tr>
                          </thead>
                          <tbody>
                              <%# @prescription.last6dispenses.each do |ff| %>
                                  <%#= f.fields_for :last6dispenses, ff do |sup_field| %>
                                      <!--<tr class="phx-table-detail" id="last6fills_<%#=choice += 1%>">-->
                                          <!--<td style="text-align: center; width:10px;"><%#= (ff.fill_time).strftime("%d-%m-%g") %></td>-->
                                          <!--<td style="text-align: center; width:10px;"><%#= ff.quantity %></td>-->
                                          <!--<td style="text-align: center; width:10px;"><%#= ff#.cost_basis %></td>-->
                                          <!--<td style="text-align: center; width:10px;"><%#= ff.price %></td>-->
                                      <!--</tr>-->
                                  <%# end %>
                              <%# end %>
                          </tbody>
                      </table>
                  </div>
              </div>

              <div id="star-rating" class="row container-fluid">
                  <div class="col-md-12">
                      <div class="field form-group phx-input-control">
                        <label class="phx-form-control-label">Star Rating for up to last 10 - Scale 0..5</label>
                      </div>
                      <div id="star-rating-chart" class="phx-small-chart">
                      </div>
                  </div>
              </div>

						</div> <!-- END OF first panel, second column -->

						<!-- First panel, third column -->
						<div class="container-fluid col-lg-4">

              <%= phx_textfield_for f, :room, "Room", 0, "", :readonly %>
              <%= phx_textfield_for f, :customer_phone, "Customer Phone", 0, "", :readonly %>
              <%= phx_textfield_for f, :prescriber_dea_number, "DEA #", 0, "", :readonly %>
              <%= phx_textfield_for f, :item_last_awp_update_date, "Last AWP Update", 0, "", :readonly %>
              <%= phx_textfield_for f, :quantity_on_hand, "Quantity On Hand", 0 %>
              <%= phx_textfield_for f, :past_due, "Past Due" %>
              <%= phx_textfield_for f, :margin, "Margin" %>
              <%= phx_textfield_for f, :percentage, "Percentage" %>

						</div> <!-- END OF first panel, third column -->
					</div> <!-- container-fluid for panel -->
				</div>  <!-- END OF GENERAL INFO PANEL -->


    		<div id="prescriptionPanel-secondary" class="tab-pane">
						<div class="row container-fluid">
								<!-- SECOND panel, 1st column -->
								<div class="container-fluid col-lg-4">
                  <%= phx_textfield_for f,   :lot_number, "Lot #" %>
                  <%= phx_textfield_for f,   :pa_number, "Prior Authorization #" %>
                  <%= phx_textfield_for f,   :pa_type, "Prior Authorization Type" %>
                  <%= phx_textfield_for f,   :diagnosis, "Diagnosis" %>
                  <%= phx_checkbox_for f,    :doc_u_dose_rx, "Doc-U-Dose" %>
                  <%= phx_selectfield_for f, :rx_type, "Rx Type", Prescription.rx_types, false, 0, "", true %>
                  <%= phx_textfield_for f,   :auto_fill, "Auto fill" %>
                  <%= phx_datefield_for f,   :next_fill_date, "Next Fill Date" %>
                  <%= phx_textfield_for f,   :certification_code, "Certification Code" %>
                  <%= phx_textfield_for f,   :delivery_route, "Delivery Route" %>

									</br>
								</div> <!-- END OF SECOND panel, first column -->

						</div>  <!-- container-fluid for panel -->

					</div>  <!-- END OF GENERAL SECONDARY PANEL -->

        		<div id="prescriptionPanel-rxImage" class="tab-pane">
  						<div class="container-fluid">
                <!-- <div class="pull-left" data-rx-image='<%=image_tag "sample_rx_image.jpg"%>' > -->
                <div class="pull-left">
                	<!-- <%= image_tag "sample_rx_image.jpg", class: "phx-magnify-small", style: "margin-left: 15px; height: 750px; margin-bottom:20px;"  %> -->
                	<%#	<img src="sample_rx_image.jpg" class="phx-magnify-small" style="height: 750px;"> %>
                </div>

  							<!-- RX IMAGE panel, 1st column -->
  							<div class="container-fluid col-lg-4">
  							</div> <!-- END OF RX IMAGE panel, second column -->

  						</div>  <!-- container-fluid for panel -->

  					</div>  <!-- END OF RX IMAGE PANEL -->
  			</div> <!-- end of col lg 10 -->

    </div>  <!-- End of Tab Panes -->

  </div>  <!-- End of TABBED AREA -->

  <div id="customer_search_modal_partial">
      <div id="customerSearchModal">
      </div>
  </div>

  <div id="prescription_search_modal_partial">
      <div id="prescriptionSearchModal">
      </div>
  </div>

  <div id="prescriber_search_modal_partial">
      <div id="prescriberSearchModal">
      </div>
  </div>

  <div id="item_search_modal_partial">
      <div id="itemSearchModal">
      </div>
  </div>

  <div id="plan_search_modal_partial">
    <div id="planSearchModal"></div>
  </div>
    <!-- Remove it FIX ME -->
  <input id="customer_id_field" type="hidden" value="<%=@prescription.customer_id %>" >
<% end %>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Select Customer Plan</h4>
      </div>
      <div class="modal-body">
        <table id ="modal_table" class="table table-hover">
          <thead class="phx-table-head">
          <tr>
            <th style="background-color:#f9f9fa;" > </th>
            <th style="background-color:#f9f9fa;" >Plan ID Code</th>
            <th style="background-color:#f9f9fa;" >Plan Name </th>
            <th style="background-color:#f9f9fa;" >Bin #</th>
            <th style="background-color:#f9f9fa;" >Plan Type</th>
          </tr>
          </thead>
        </table>
        <div class="row">
          <div class="col-md-3"> </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
              <button id="prescription_add_btn" class="button btn-danger" style="width:120px;margin-top:10px"> Add Plan </button>
            </div>
          </div>
      </>
    </div>
  </div>
</div>

<script>

  $(document).ready(function(){
      $('#prescription_payment_type').focus(function() {
          var customer_id = $('#customer_id_field').val();
          $.get( "../customers/search_active?customer_id="+customer_id , function( data ) {

          });
      });
  });

    //<%#  *** PRESCRIPTION number ***  %>

	$('#prescription_rx_number').on("keypress", function(e) {
		var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
      rxNumber = $("#prescription_rx_number").val();
		if(key == 13 && rxNumber ) {
			window.location.replace( "/prescription/rx_number/" + rxNumber );
			return false;
		}
	});


  // TEMPORARY CODE SOLUTION !!!!!
  // TODO:  don't do this on a refill, only a change ... need to ask Steve how
  // he wants to distinguish behavior when it either a change to an Rx vs a Refill
  $('#prescription_refills_prescribed').on("change", function(e) {
    var refills_prescribed = $("#prescription_refills_prescribed").val();
    $("#prescription_refills_left").val(refills_prescribed);
	});


    // -----------------------------
    // CUSTOMER: define the search
    var custsrch = FEENX.Search.NewSearch('customer',
        {   context:      'prescription',
            triggerField: 'display_name',
            fieldPrefix:  'customer',
            modalId:      'customerSearchModal',
            hiddenDivId:  'hidden_fields',
            refresh:      false,
            refreshTo:    ''});

    // additional attributes would be defined
    custsrch.addAttribute('display_name', false, '', 'display_name');
    custsrch.addAttribute('age', false, '', 'age');
    custsrch.addAttribute('gender', false, '', 'gender');
    custsrch.addAttribute('birthdate', false, '', 'birthdate');
    custsrch.addAttribute('profile_trigger', true, '', 'profile_trigger');


    // create the corresponding hidden fields in the form
    custsrch.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    custsrch.dataFormattedAttributes();


    // -----------------------------
    // PRESCRIPTION: define the search
    var rxsrch = FEENX.Search.NewSearch('prescription',
        {   context:      '',
            triggerField: '',
            fieldPrefix:  '',
            modalId:      'prescriptionSearchModal',
            hiddenDivId:  'hidden_fields',
            refresh:      true,
            refreshTo:    '/prescriptions/',
            onAbortFocusTo: 'prescription_prescriber_display_name'});



    // create the corresponding hidden fields in the form
    rxsrch.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    rxsrch.dataFormattedAttributes();

    // -----------------------------
    // PRESCRIBER: define the search
    var prescribsrch = FEENX.Search.NewSearch('prescriber',
        {   context:      'prescription',
            triggerField: 'display_name',
            fieldPrefix:  'prescriber',
            modalId:      'prescriberSearchModal',
            hiddenDivId:  'hidden_fields',
            refresh:      false,
            modalWidth:   480,
            refreshTo:    '' });

    // additional attributes would be defined
    prescribsrch.addAttribute('display_name', false, '', 'display_name');
    prescribsrch.addAttribute('npi_number', false, '', 'npi_number');
    prescribsrch.addAttribute('phone', false, '', 'phone');
    prescribsrch.addAttribute('dea_number', false, '', 'dea_number');

    // create the corresponding hidden fields in the form
    prescribsrch.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    prescribsrch.dataFormattedAttributes();

    // -----------------------------
    // ITEM: define the search
    var itemsrch = FEENX.Search.NewSearch('item',
        {   context:      'prescription',
            triggerField: 'display_name',
            fieldPrefix:  'item',
            modalId:      'itemSearchModal',
            hiddenDivId:  'hidden_fields',
            refresh:      false,
            refreshTo:    '' });

    // additional attributes would be defined
    itemsrch.addAttribute('display_name', false, '', 'display_name');
    itemsrch.addAttribute('ndc_number', false, '', 'ndc_number');
    itemsrch.addAttribute('schedule', false, '', 'schedule');
    itemsrch.addAttribute('package_size', false, '', 'package_size');
    itemsrch.addAttribute('last_awp_update_date', false, '', 'last_awp_update_date');

    // create the corresponding hidden fields in the form
    itemsrch.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    itemsrch.dataFormattedAttributes();

    // set all search clean-up & following actions below ...

    $(custsrch).on(custsrch.done(), function(event, data) {
        $('#customer_id_field').val(data);
        rxsrch.doSearch(data);  // provide start ID
    });

    // set focus to specific fields following search
    $(rxsrch).on(rxsrch.done(), function(event, data) {
      $('#prescription_last_fill_quantity').focus();
    });

    $(prescribsrch).on(prescribsrch.done(), function() { $('#prescription_item_display_name').focus(); });
    $(itemsrch).on(itemsrch.done(), function() { $('#prescription_quantity_prescribed').focus(); });

    // Force Focus to
    var formFocus = FEENX.Focus.SetFocus("prescription_customer_display_name");

    // Sig Cache
    var sigCache = FEENX.Sig.SigCache();

    var cs = FEENX.Search.NewSearch('plan',
        {   context:      '',
          basePath : 'search',
          fieldPrefix:  '',
          modalId:      'planSearchModal',
          hiddenDivId:  'hidden_fields',
          modalWidth: 350,
          customProcessSearchSelection : function(target){
            var customer_id = $('#customer_id_field').val();

            var plan_id_code = target.attr("data-phx-search-plan-plan_id_code");
            var plan_name = target.attr("data-phx-search-plan-plan_name");
            $("#prescription_payment_type").val(plan_id_code);
            $("#prescription_plan_name").val(plan_name);
            $("#planSearchModal").modal('toggle');
            $("[name='prescription[dispense_as_written_code]']").focus();
          }});
    // create the corresponding hidden fields in the form
    cs.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    cs.dataFormattedAttributes();


    // Track state to profile using a global variable, starting at false
    // When prescriber or item is searche, set to true
    // if customer is searched and "blocked" below is still false, get the profile
    // check "blocked" on the hidden customer_id change event

    // var Phx_Profile_Search_Blocked = false;

    // $(document).ready( function() {
    //     $("#prescription_prescriber_id").on( "change", function() { Phx_Profile_Search_Blocked = true; }) ;
    //     $("#prescription_item_id").on( "change", function() { Phx_Profile_Search_Blocked = true; }) ;
    // });
    //
    // $("#prescription_prescriber_id").on( "change", function() { Phx_Profile_Search_Blocked = true; }) ;
    // $("#prescription_item_id").on( "change", function() { Phx_Profile_Search_Blocked = true; }) ;

    // $('#customer_search_modal_partial').on('hidden.bs.modal', function (e) {
    //
    //     if( !Phx_Profile_Search_Blocked ) {
    //         Phx_Profile_Search_Blocked = false;
    //         profileCustomerId = $('#prescription_customer_id').val();
    //         // below url should come from a helper method in future
    //         $.get( "/prescription/nextProfile?start="+profileCustomerId,
    //            function( data ) {
    //            });
    //     }
    // });


    //<%#  *** MAGNIFIER ***  %>
// temporarily disabled
    // var freeze_magnifier = false;
    //
    // $(document).ready( function() {
    //
    // 	var original_width = 0;
    // 	var original_height = 0;
    //
    // 	$(".phx-magnify").mousemove( function(e) {
    //
    // 		if( freeze_magnifier ) return;
    //
    // 		if(!original_width && !original_height) {
    //
    // 			var image_obj = new Image();
    // 			image_obj.src = $(".phx-magnify-small").attr("src");
    // 			original_width = image_obj.width;
    // 			original_height = image_obj.height;
    // 			$("#col1").html("orig width=" + original_width + "<br>" + "orig height=" + original_height );
    //
    // 		} else {
    //
    // 			var magnify_offset = $(this).offset();
    // 			var mx = e.pageX - magnify_offset.left;
    // 			var my = e.pageY - magnify_offset.top;
    // 			$("#col2").html("pagex="+e.pageX +"<br>"+ "pageY="+ e.pageY);
    // 			$("#col3").html("offset_L=" + magnify_offset.left +"<br>"+"offset_T=" + magnify_offset.top);
    // 			$("#col4").html("mx="+ mx+"<br>"+"my=" +my);
    //
    // 			if(mx < $(this).width() && my < $(this).height() && mx > 0 && my > 0) {
    //
    // 				$(".phx-magnify-large").fadeIn(100);
    //
    // 			} else {
    //
    // 				$(".phx-magnify-large").fadeOut(100);
    // 			}
    //
    // 			if( $(".phx-magnify-large").is( ":visible" ) ) {
    // 				//The background position of .large will be changed according to the position
    // 				//of the mouse over the .small image. So we will get the ratio of the pixel
    // 				//under the mouse pointer with respect to the image and use that to position the
    // 				//large image inside the magnifying glass
    // 				var rx = Math.round(mx/$(".phx-magnify-small").width() * original_width - $(".large").width()/2)*-1;
    // 				var ry = Math.round(my/$(".phx-magnify-small").height() * original_height - $(".large").height()/2)*-1;
    // 				var bgpos = rx + "px " + ry + "px";
    //
    // 				//Time to move the magnifying glass with the mouse
    // 				var px = mx - $(".phx-magnify-large").width() / 2;
    // 				var py = my - $(".phx-magnify-large").height() / 2;
    // 				//Now the glass moves with the mouse
    // 				//The logic is to deduct half of the glass's width and height from the
    // 				//mouse coordinates to place it with its center at the mouse coordinates
    //
    // 				//If you hover on the image now, you should see the magnifying glass in action
    // 				$(".phx-magnify-large").css( {left: px, top: py, backgroundPosition: bgpos} );
    // 			}
    // 		}
    //
    // 	});
    //
    // 	// Show the whole prescription
    // 	$(".phx-magnify").dblclick( function(e) {
    // 		freeze_magnifier = false;
    // 		$('a[href=#prescriptionPanel-rxImage]').tab('show');
    // 		$(".phx-magnify-large").fadeOut(10);
    // 	});
    //
    // 	// Freeze the magnifyer
    // 	$(".phx-magnify").click( function(e) {
    // 		freeze_magnifier = !freeze_magnifier;
    // 		return;
    // 	});
    //
    // });
    //
    // // Double click back to the general pane directly from the rx image
    // $(document).ready( function() {
    // 		$("#prescriptionPanel-rxImage").dblclick( function(e) {
    // 			$('a[href=#prescriptionPanel-general]').tab('show');
    // 		})
    // });
    //
    //<%#  END of MAGNIFIER  %>

    starRatingChartSmall( <%#= @prescription.star_ratings %> );

</script>
