<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim.dept_number %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @claim.fill_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim.rna_plan_id_code %>
</p>

<p>
  <strong>Transmit date:</strong>
  <%= @claim.transmit_date %>
</p>

<p>
  <strong>Transmit time:</strong>
  <%= @claim.transmit_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @claim.status %>
</p>

<p>
  <strong>Rna customer id number:</strong>
  <%= @claim.rna_customer_id_number %>
</p>

<p>
  <strong>Active flag:</strong>
  <%= @claim.active_flag %>
</p>

<p>
  <strong>Version:</strong>
  <%= @claim.version %>
</p>

<p>
  <strong>Transmission code:</strong>
  <%= @claim.transmission_code %>
</p>

<p>
  <strong>Authorization number:</strong>
  <%= @claim.authorization_number %>
</p>

<p>
  <strong>Exceeds percent:</strong>
  <%= @claim.exceeds_percent %>
</p>

<p>
  <strong>Dur on file:</strong>
  <%= @claim.dur_on_file %>
</p>

<p>
  <strong>Date filled:</strong>
  <%= @claim.date_filled %>
</p>

<p>
  <strong>Eligibility override:</strong>
  <%= @claim.eligibility_override %>
</p>

<p>
  <strong>Usual customary price:</strong>
  <%= @claim.usual_customary_price %>
</p>

<p>
  <strong>Level of service:</strong>
  <%= @claim.level_of_service %>
</p>

<p>
  <strong>Primary prescriber dea number:</strong>
  <%= @claim.primary_prescriber_dea_number %>
</p>

<p>
  <strong>Cost basis:</strong>
  <%= @claim.cost_basis %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @claim.amount_due %>
</p>

<p>
  <strong>Metric decimal quantity:</strong>
  <%= @claim.metric_decimal_quantity %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @claim.product_type %>
</p>

<p>
  <strong>Product code:</strong>
  <%= @claim.product_code %>
</p>

<p>
  <strong>Incentive amount:</strong>
  <%= @claim.incentive_amount %>
</p>

<p>
  <strong>Cost submitted:</strong>
  <%= @claim.cost_submitted %>
</p>

<p>
  <strong>Fee submitted:</strong>
  <%= @claim.fee_submitted %>
</p>

<p>
  <strong>Tax submitted:</strong>
  <%= @claim.tax_submitted %>
</p>

<p>
  <strong>Communications error code:</strong>
  <%= @claim.communications_error_code %>
</p>

<p>
  <strong>Header response:</strong>
  <%= @claim.header_response %>
</p>

<p>
  <strong>New plan number:</strong>
  <%= @claim.new_plan_number %>
</p>

<p>
  <strong>Cost paid:</strong>
  <%= @claim.cost_paid %>
</p>

<p>
  <strong>Contract fee:</strong>
  <%= @claim.contract_fee %>
</p>

<p>
  <strong>Tax paid:</strong>
  <%= @claim.tax_paid %>
</p>

<p>
  <strong>Total paid:</strong>
  <%= @claim.total_paid %>
</p>

<p>
  <strong>Accumulated deductible:</strong>
  <%= @claim.accumulated_deductible %>
</p>

<p>
  <strong>Deductible left:</strong>
  <%= @claim.deductible_left %>
</p>

<p>
  <strong>Benefit left:</strong>
  <%= @claim.benefit_left %>
</p>

<p>
  <strong>Amount to deductible:</strong>
  <%= @claim.amount_to_deductible %>
</p>

<p>
  <strong>Copay amount:</strong>
  <%= @claim.copay_amount %>
</p>

<p>
  <strong>Amount for product selection:</strong>
  <%= @claim.amount_for_product_selection %>
</p>

<p>
  <strong>Exceeds benefit amount:</strong>
  <%= @claim.exceeds_benefit_amount %>
</p>

<p>
  <strong>Incentive fee paid:</strong>
  <%= @claim.incentive_fee_paid %>
</p>

<p>
  <strong>Service fee paid:</strong>
  <%= @claim.service_fee_paid %>
</p>

<p>
  <strong>Other amount fee paid:</strong>
  <%= @claim.other_amount_fee_paid %>
</p>

<p>
  <strong>Other payor amount recognized:</strong>
  <%= @claim.other_payor_amount_recognized %>
</p>

<p>
  <strong>Amount attributed to tax:</strong>
  <%= @claim.amount_attributed_to_tax %>
</p>

<p>
  <strong>Partial copay amount:</strong>
  <%= @claim.partial_copay_amount %>
</p>

<p>
  <strong>Reimbursement basis:</strong>
  <%= @claim.reimbursement_basis %>
</p>

<p>
  <strong>Percent amount tax paid:</strong>
  <%= @claim.percent_amount_tax_paid %>
</p>

<p>
  <strong>Tax rate paid:</strong>
  <%= @claim.tax_rate_paid %>
</p>

<p>
  <strong>Tax basis:</strong>
  <%= @claim.tax_basis %>
</p>

<p>
  <strong>Help desk phone number:</strong>
  <%= @claim.help_desk_phone_number %>
</p>

<p>
  <strong>Approved message count:</strong>
  <%= @claim.approved_message_count %>
</p>

<p>
  <strong>Approved message code:</strong>
  <%= @claim.approved_message_code %>
</p>

<p>
  <strong>Network reimbursement:</strong>
  <%= @claim.network_reimbursement_id %>
</p>

<p>
  <strong>Reject count:</strong>
  <%= @claim.reject_count %>
</p>

<p>
  <strong>Reject code:</strong>
  <%= @claim.reject_code %>
</p>

<p>
  <strong>Reject field submitted:</strong>
  <%= @claim.reject_field_submitted %>
</p>

<p>
  <strong>Transmission message:</strong>
  <%= @claim.transmission_message %>
</p>

<p>
  <strong>Other coverage code:</strong>
  <%= @claim.other_coverage_code %>
</p>

<p>
  <strong>Denial code:</strong>
  <%= @claim.denial_code %>
</p>

<p>
  <strong>Route of administration:</strong>
  <%= @claim.route_of_administration %>
</p>

<p>
  <strong>Amount processing fee:</strong>
  <%= @claim.amount_processing_fee %>
</p>

<p>
  <strong>Response amount coinsurance:</strong>
  <%= @claim.response_amount_coinsurance %>
</p>

<%= link_to 'Edit', edit_claim_path(@claim) %> |
<%= link_to 'Back', claims_path %>
