<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_dur.dept_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_dur.rna_plan_id_code %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_dur.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @claim_dur.fill_number %>
</p>

<p>
  <strong>Overflow flag:</strong>
  <%= @claim_dur.overflow_flag %>
</p>

<p>
  <strong>Sent counter:</strong>
  <%= @claim_dur.sent_counter %>
</p>

<p>
  <strong>Reason for service:</strong>
  <%= @claim_dur.reason_for_service %>
</p>

<p>
  <strong>Result code:</strong>
  <%= @claim_dur.result_code %>
</p>

<p>
  <strong>Service code:</strong>
  <%= @claim_dur.service_code %>
</p>

<p>
  <strong>Level of effort:</strong>
  <%= @claim_dur.level_of_effort %>
</p>

<p>
  <strong>Coagent:</strong>
  <%= @claim_dur.coagent_id %>
</p>

<p>
  <strong>Coagent qualifier:</strong>
  <%= @claim_dur.coagent_qualifier %>
</p>

<p>
  <strong>Receive counter:</strong>
  <%= @claim_dur.receive_counter %>
</p>

<p>
  <strong>Dur code:</strong>
  <%= @claim_dur.dur_code %>
</p>

<p>
  <strong>Dur severity:</strong>
  <%= @claim_dur.dur_severity %>
</p>

<p>
  <strong>Dur pharmacy:</strong>
  <%= @claim_dur.dur_pharmacy %>
</p>

<p>
  <strong>Dur date:</strong>
  <%= @claim_dur.dur_date %>
</p>

<p>
  <strong>Dur quantity:</strong>
  <%= @claim_dur.dur_quantity %>
</p>

<p>
  <strong>Dur database:</strong>
  <%= @claim_dur.dur_database %>
</p>

<p>
  <strong>Dur prescriber:</strong>
  <%= @claim_dur.dur_prescriber %>
</p>

<p>
  <strong>Dur message:</strong>
  <%= @claim_dur.dur_message %>
</p>

<%= link_to 'Edit', edit_claim_dur_path(@claim_dur) %> |
<%= link_to 'Back', claim_durs_path %>
