<p id="notice"><%= notice %></p>

<p>
  <strong>Transmission number:</strong>
  <%= @electronic_prescription.transmission_number %>
</p>

<p>
  <strong>Prescriber spi number:</strong>
  <%= @electronic_prescription.prescriber_spi_number %>
</p>

<p>
  <strong>Prescriber order number:</strong>
  <%= @electronic_prescription.prescriber_order_number %>
</p>

<p>
  <strong>Prescriber reference number:</strong>
  <%= @electronic_prescription.prescriber_reference_number %>
</p>

<p>
  <strong>Prescriber reference number qualifier:</strong>
  <%= @electronic_prescription.prescriber_reference_number_qualifier %>
</p>

<p>
  <strong>Prescriber clinic name extended:</strong>
  <%= @electronic_prescription.prescriber_clinic_name_extended %>
</p>

<p>
  <strong>Prescriber service location:</strong>
  <%= @electronic_prescription.prescriber_service_location %>
</p>

<p>
  <strong>Prescriber facility qualifier:</strong>
  <%= @electronic_prescription.prescriber_facility_qualifier %>
</p>

<p>
  <strong>Prescriber facility code:</strong>
  <%= @electronic_prescription.prescriber_facility_code %>
</p>

<p>
  <strong>Prescriber claim frequency:</strong>
  <%= @electronic_prescription.prescriber_claim_frequency %>
</p>

<p>
  <strong>Prescriber specialty:</strong>
  <%= @electronic_prescription.prescriber_specialty %>
</p>

<p>
  <strong>Prescriber agency qualifier:</strong>
  <%= @electronic_prescription.prescriber_agency_qualifier %>
</p>

<p>
  <strong>Prescriber specialty code:</strong>
  <%= @electronic_prescription.prescriber_specialty_code %>
</p>

<p>
  <strong>Prescriber last name:</strong>
  <%= @electronic_prescription.prescriber_last_name %>
</p>

<p>
  <strong>Prescriber first name:</strong>
  <%= @electronic_prescription.prescriber_first_name %>
</p>

<p>
  <strong>Prescriber middle name:</strong>
  <%= @electronic_prescription.prescriber_middle_name %>
</p>

<p>
  <strong>Prescriber suffix:</strong>
  <%= @electronic_prescription.prescriber_suffix %>
</p>

<p>
  <strong>Prescriber prefix:</strong>
  <%= @electronic_prescription.prescriber_prefix %>
</p>

<p>
  <strong>Prescriber zip code:</strong>
  <%= @electronic_prescription.prescriber_zip_code %>
</p>

<p>
  <strong>Prescriber clinic name:</strong>
  <%= @electronic_prescription.prescriber_clinic_name %>
</p>

<p>
  <strong>Prescriber clinic address1:</strong>
  <%= @electronic_prescription.prescriber_clinic_address1 %>
</p>

<p>
  <strong>Prescriber clinic address2:</strong>
  <%= @electronic_prescription.prescriber_clinic_address2 %>
</p>

<p>
  <strong>Prescriber clinic city:</strong>
  <%= @electronic_prescription.prescriber_clinic_city %>
</p>

<p>
  <strong>Prescriber clinic state:</strong>
  <%= @electronic_prescription.prescriber_clinic_state %>
</p>

<p>
  <strong>Prescriber clinic zip:</strong>
  <%= @electronic_prescription.prescriber_clinic_zip %>
</p>

<p>
  <strong>Prescriber phone number:</strong>
  <%= @electronic_prescription.prescriber_phone_number %>
</p>

<p>
  <strong>Prescriber phone number qualifier:</strong>
  <%= @electronic_prescription.prescriber_phone_number_qualifier %>
</p>

<p>
  <strong>Prescriber agent last name:</strong>
  <%= @electronic_prescription.prescriber_agent_last_name %>
</p>

<p>
  <strong>Prescriber agent first name:</strong>
  <%= @electronic_prescription.prescriber_agent_first_name %>
</p>

<p>
  <strong>Prescriber agent middle name:</strong>
  <%= @electronic_prescription.prescriber_agent_middle_name %>
</p>

<p>
  <strong>Prescriber agent suffix:</strong>
  <%= @electronic_prescription.prescriber_agent_suffix %>
</p>

<p>
  <strong>Prescriber agent prefix:</strong>
  <%= @electronic_prescription.prescriber_agent_prefix %>
</p>

<p>
  <strong>Patient individual relationship:</strong>
  <%= @electronic_prescription.patient_individual_relationship %>
</p>

<p>
  <strong>Patient birthdate:</strong>
  <%= @electronic_prescription.patient_birthdate %>
</p>

<p>
  <strong>Patient last name:</strong>
  <%= @electronic_prescription.patient_last_name %>
</p>

<p>
  <strong>Patient first name:</strong>
  <%= @electronic_prescription.patient_first_name %>
</p>

<p>
  <strong>Patient middle name:</strong>
  <%= @electronic_prescription.patient_middle_name %>
</p>

<p>
  <strong>Patient suffix:</strong>
  <%= @electronic_prescription.patient_suffix %>
</p>

<p>
  <strong>Patient prefix:</strong>
  <%= @electronic_prescription.patient_prefix %>
</p>

<p>
  <strong>Patient gender:</strong>
  <%= @electronic_prescription.patient_gender %>
</p>

<p>
  <strong>Patient id number:</strong>
  <%= @electronic_prescription.patient_id_number %>
</p>

<p>
  <strong>Patient id number qualifier:</strong>
  <%= @electronic_prescription.patient_id_number_qualifier %>
</p>

<p>
  <strong>Patient address1:</strong>
  <%= @electronic_prescription.patient_address1 %>
</p>

<p>
  <strong>Patient address2:</strong>
  <%= @electronic_prescription.patient_address2 %>
</p>

<p>
  <strong>Patientcity:</strong>
  <%= @electronic_prescription.patientcity %>
</p>

<p>
  <strong>Patient state:</strong>
  <%= @electronic_prescription.patient_state %>
</p>

<p>
  <strong>Patient zip:</strong>
  <%= @electronic_prescription.patient_zip %>
</p>

<p>
  <strong>Patient phone number:</strong>
  <%= @electronic_prescription.patient_phone_number %>
</p>

<p>
  <strong>Patient phone number qualifier:</strong>
  <%= @electronic_prescription.patient_phone_number_qualifier %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @electronic_prescription.item_description %>
</p>

<p>
  <strong>Item number:</strong>
  <%= @electronic_prescription.item_number %>
</p>

<p>
  <strong>Item number qualiifer:</strong>
  <%= @electronic_prescription.item_number_qualiifer %>
</p>

<p>
  <strong>Item dosage form code:</strong>
  <%= @electronic_prescription.item_dosage_form_code %>
</p>

<p>
  <strong>Item strength:</strong>
  <%= @electronic_prescription.item_strength %>
</p>

<p>
  <strong>Item strength quallifier:</strong>
  <%= @electronic_prescription.item_strength_quallifier %>
</p>

<p>
  <strong>Item database code:</strong>
  <%= @electronic_prescription.item_database_code %>
</p>

<p>
  <strong>Item database source:</strong>
  <%= @electronic_prescription.item_database_source %>
</p>

<p>
  <strong>Item name long1:</strong>
  <%= @electronic_prescription.item_name_long1 %>
</p>

<p>
  <strong>Item name long2:</strong>
  <%= @electronic_prescription.item_name_long2 %>
</p>

<p>
  <strong>Item name long3:</strong>
  <%= @electronic_prescription.item_name_long3 %>
</p>

<p>
  <strong>Item form source code:</strong>
  <%= @electronic_prescription.item_form_source_code %>
</p>

<p>
  <strong>Item form code:</strong>
  <%= @electronic_prescription.item_form_code %>
</p>

<p>
  <strong>Item strength source code:</strong>
  <%= @electronic_prescription.item_strength_source_code %>
</p>

<p>
  <strong>Item drug strength:</strong>
  <%= @electronic_prescription.item_drug_strength %>
</p>

<p>
  <strong>Item dea schedule:</strong>
  <%= @electronic_prescription.item_dea_schedule %>
</p>

<p>
  <strong>Item quantity qualifier:</strong>
  <%= @electronic_prescription.item_quantity_qualifier %>
</p>

<p>
  <strong>Item quantity:</strong>
  <%= @electronic_prescription.item_quantity %>
</p>

<p>
  <strong>Item quantity list qualiifer:</strong>
  <%= @electronic_prescription.item_quantity_list_qualiifer %>
</p>

<p>
  <strong>Item quantity unit source code:</strong>
  <%= @electronic_prescription.item_quantity_unit_source_code %>
</p>

<p>
  <strong>Item quantity potency code:</strong>
  <%= @electronic_prescription.item_quantity_potency_code %>
</p>

<p>
  <strong>Item sig1:</strong>
  <%= @electronic_prescription.item_sig1 %>
</p>

<p>
  <strong>Item sig2:</strong>
  <%= @electronic_prescription.item_sig2 %>
</p>

<p>
  <strong>Item date qualifier:</strong>
  <%= @electronic_prescription.item_date_qualifier %>
</p>

<p>
  <strong>Item date:</strong>
  <%= @electronic_prescription.item_date %>
</p>

<p>
  <strong>Item date format:</strong>
  <%= @electronic_prescription.item_date_format %>
</p>

<p>
  <strong>Item substitution code:</strong>
  <%= @electronic_prescription.item_substitution_code %>
</p>

<p>
  <strong>Item refill prescribed qualifier:</strong>
  <%= @electronic_prescription.item_refill_prescribed_qualifier %>
</p>

<p>
  <strong>Item refill prescribed:</strong>
  <%= @electronic_prescription.item_refill_prescribed %>
</p>

<p>
  <strong>Diagnosis qualifier:</strong>
  <%= @electronic_prescription.diagnosis_qualifier %>
</p>

<p>
  <strong>Diagnosis code:</strong>
  <%= @electronic_prescription.diagnosis_code %>
</p>

<p>
  <strong>Prior authorization number:</strong>
  <%= @electronic_prescription.prior_authorization_number %>
</p>

<p>
  <strong>Prior authorization qualifier:</strong>
  <%= @electronic_prescription.prior_authorization_qualifier %>
</p>

<p>
  <strong>Free text:</strong>
  <%= @electronic_prescription.free_text %>
</p>

<p>
  <strong>Dur reason code:</strong>
  <%= @electronic_prescription.dur_reason_code %>
</p>

<p>
  <strong>Dur professional code:</strong>
  <%= @electronic_prescription.dur_professional_code %>
</p>

<p>
  <strong>Dur result code:</strong>
  <%= @electronic_prescription.dur_result_code %>
</p>

<p>
  <strong>Coagent:</strong>
  <%= @electronic_prescription.coagent_id %>
</p>

<p>
  <strong>Coagent id qualifier:</strong>
  <%= @electronic_prescription.coagent_id_qualifier %>
</p>

<p>
  <strong>Clinical priority:</strong>
  <%= @electronic_prescription.clinical_priority %>
</p>

<p>
  <strong>Acknowledgement reason:</strong>
  <%= @electronic_prescription.acknowledgement_reason %>
</p>

<p>
  <strong>Coverage status code:</strong>
  <%= @electronic_prescription.coverage_status_code %>
</p>

<p>
  <strong>Prior authorization status:</strong>
  <%= @electronic_prescription.prior_authorization_status %>
</p>

<p>
  <strong>Do not fill:</strong>
  <%= @electronic_prescription.do_not_fill %>
</p>

<p>
  <strong>Need by date qualifier:</strong>
  <%= @electronic_prescription.need_by_date_qualifier %>
</p>

<p>
  <strong>Need by date:</strong>
  <%= @electronic_prescription.need_by_date %>
</p>

<p>
  <strong>Need by date format:</strong>
  <%= @electronic_prescription.need_by_date_format %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @electronic_prescription.timezone_id %>
</p>

<p>
  <strong>Timezon different quantity:</strong>
  <%= @electronic_prescription.timezon_different_quantity %>
</p>

<p>
  <strong>Need by reason:</strong>
  <%= @electronic_prescription.need_by_reason %>
</p>

<p>
  <strong>Supervisor spi number:</strong>
  <%= @electronic_prescription.supervisor_spi_number %>
</p>

<p>
  <strong>Supervisor qualifier:</strong>
  <%= @electronic_prescription.supervisor_qualifier %>
</p>

<p>
  <strong>Supervisor facility qualifier:</strong>
  <%= @electronic_prescription.supervisor_facility_qualifier %>
</p>

<p>
  <strong>Supervisor facility code:</strong>
  <%= @electronic_prescription.supervisor_facility_code %>
</p>

<p>
  <strong>Supervisor claim frequency:</strong>
  <%= @electronic_prescription.supervisor_claim_frequency %>
</p>

<p>
  <strong>Supervisor specialty:</strong>
  <%= @electronic_prescription.supervisor_specialty %>
</p>

<p>
  <strong>Supervisor agency qualifier:</strong>
  <%= @electronic_prescription.supervisor_agency_qualifier %>
</p>

<p>
  <strong>Supervisor specialty code:</strong>
  <%= @electronic_prescription.supervisor_specialty_code %>
</p>

<p>
  <strong>Supervisor last name:</strong>
  <%= @electronic_prescription.supervisor_last_name %>
</p>

<p>
  <strong>Supervisor first name:</strong>
  <%= @electronic_prescription.supervisor_first_name %>
</p>

<p>
  <strong>Supervisor middle name:</strong>
  <%= @electronic_prescription.supervisor_middle_name %>
</p>

<p>
  <strong>Supervisor suffix:</strong>
  <%= @electronic_prescription.supervisor_suffix %>
</p>

<p>
  <strong>Supervisor prefix:</strong>
  <%= @electronic_prescription.supervisor_prefix %>
</p>

<p>
  <strong>Supervisor zip code:</strong>
  <%= @electronic_prescription.supervisor_zip_code %>
</p>

<p>
  <strong>Supervisor clinic name:</strong>
  <%= @electronic_prescription.supervisor_clinic_name %>
</p>

<p>
  <strong>Supervisor clinic address1:</strong>
  <%= @electronic_prescription.supervisor_clinic_address1 %>
</p>

<p>
  <strong>Supervisor clinic address2:</strong>
  <%= @electronic_prescription.supervisor_clinic_address2 %>
</p>

<p>
  <strong>Supervisor clinic city:</strong>
  <%= @electronic_prescription.supervisor_clinic_city %>
</p>

<p>
  <strong>Supervisor clinic state:</strong>
  <%= @electronic_prescription.supervisor_clinic_state %>
</p>

<p>
  <strong>Supervisor clinic zip:</strong>
  <%= @electronic_prescription.supervisor_clinic_zip %>
</p>

<p>
  <strong>Supervisor phone number:</strong>
  <%= @electronic_prescription.supervisor_phone_number %>
</p>

<p>
  <strong>Supervisor phone number qualifier:</strong>
  <%= @electronic_prescription.supervisor_phone_number_qualifier %>
</p>

<p>
  <strong>Supervisor agent last name:</strong>
  <%= @electronic_prescription.supervisor_agent_last_name %>
</p>

<p>
  <strong>Supervisor agent first name:</strong>
  <%= @electronic_prescription.supervisor_agent_first_name %>
</p>

<p>
  <strong>Supervisor agent middle name:</strong>
  <%= @electronic_prescription.supervisor_agent_middle_name %>
</p>

<p>
  <strong>Supervisor agent suffix:</strong>
  <%= @electronic_prescription.supervisor_agent_suffix %>
</p>

<p>
  <strong>Supervisor agent prefix:</strong>
  <%= @electronic_prescription.supervisor_agent_prefix %>
</p>

<%= link_to 'Edit', edit_electronic_prescription_path(@electronic_prescription) %> |
<%= link_to 'Back', electronic_prescriptions_path %>
