<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @customer_plan.dept_number %>
</p>

<p>
  <strong>Rna customer id number:</strong>
  <%= @customer_plan.rna_customer_id_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @customer_plan.rna_plan_id_code %>
</p>

<p>
  <strong>Sequence number:</strong>
  <%= @customer_plan.sequence_number %>
</p>

<p>
  <strong>Plan type:</strong>
  <%= @customer_plan.plan_type %>
</p>

<p>
  <strong>Plan abb name:</strong>
  <%= @customer_plan.plan_abb_name %>
</p>

<p>
  <strong>Active flag:</strong>
  <%= @customer_plan.active_flag %>
</p>

<p>
  <strong>Plan start date:</strong>
  <%= @customer_plan.plan_start_date %>
</p>

<p>
  <strong>Plan end date:</strong>
  <%= @customer_plan.plan_end_date %>
</p>

<p>
  <strong>Plan prior authorization:</strong>
  <%= @customer_plan.plan_prior_authorization %>
</p>

<p>
  <strong>Plan prior authorization type:</strong>
  <%= @customer_plan.plan_prior_authorization_type %>
</p>

<p>
  <strong>Plan first name:</strong>
  <%= @customer_plan.plan_first_name %>
</p>

<p>
  <strong>Plan last name:</strong>
  <%= @customer_plan.plan_last_name %>
</p>

<p>
  <strong>Plan card number:</strong>
  <%= @customer_plan.plan_card_number %>
</p>

<p>
  <strong>Plan number:</strong>
  <%= @customer_plan.plan_number %>
</p>

<p>
  <strong>Plan group number:</strong>
  <%= @customer_plan.plan_group_number %>
</p>

<p>
  <strong>Plan person code:</strong>
  <%= @customer_plan.plan_person_code %>
</p>

<p>
  <strong>Plan relationship code:</strong>
  <%= @customer_plan.plan_relationship_code %>
</p>

<p>
  <strong>Plan other insurance code:</strong>
  <%= @customer_plan.plan_other_insurance_code %>
</p>

<p>
  <strong>Plan home plan:</strong>
  <%= @customer_plan.plan_home_plan %>
</p>

<p>
  <strong>Plan eligibility code:</strong>
  <%= @customer_plan.plan_eligibility_code %>
</p>

<p>
  <strong>Plan employee:</strong>
  <%= @customer_plan.plan_employee_id %>
</p>

<p>
  <strong>Plan universal:</strong>
  <%= @customer_plan.plan_universal_id %>
</p>

<p>
  <strong>Plan universal id type:</strong>
  <%= @customer_plan.plan_universal_id_type %>
</p>

<p>
  <strong>Plan cardholder first name:</strong>
  <%= @customer_plan.plan_cardholder_first_name %>
</p>

<p>
  <strong>Plan cardholder last name:</strong>
  <%= @customer_plan.plan_cardholder_last_name %>
</p>

<p>
  <strong>Plan facility:</strong>
  <%= @customer_plan.plan_facility_id %>
</p>

<p>
  <strong>Plan location code:</strong>
  <%= @customer_plan.plan_location_code %>
</p>

<p>
  <strong>Plan limit of rx:</strong>
  <%= @customer_plan.plan_limit_of_rx %>
</p>

<p>
  <strong>Plan current number rx:</strong>
  <%= @customer_plan.plan_current_number_rx %>
</p>

<p>
  <strong>Plan current amount:</strong>
  <%= @customer_plan.plan_current_amount %>
</p>

<p>
  <strong>Plan ytd number rx:</strong>
  <%= @customer_plan.plan_ytd_number_rx %>
</p>

<p>
  <strong>Plan ytd amount:</strong>
  <%= @customer_plan.plan_ytd_amount %>
</p>

<p>
  <strong>Plan date of injury:</strong>
  <%= @customer_plan.plan_date_of_injury %>
</p>

<p>
  <strong>Plan medigap:</strong>
  <%= @customer_plan.plan_medigap_id %>
</p>

<p>
  <strong>Plan state medicaid:</strong>
  <%= @customer_plan.plan_state_medicaid %>
</p>

<p>
  <strong>Plan medicaid:</strong>
  <%= @customer_plan.plan_medicaid_id %>
</p>

<p>
  <strong>Plan employer name:</strong>
  <%= @customer_plan.plan_employer_name %>
</p>

<p>
  <strong>Plan employer address:</strong>
  <%= @customer_plan.plan_employer_address %>
</p>

<p>
  <strong>Plan employer city:</strong>
  <%= @customer_plan.plan_employer_city %>
</p>

<p>
  <strong>Plan employer state:</strong>
  <%= @customer_plan.plan_employer_state %>
</p>

<p>
  <strong>Plan employer zip code:</strong>
  <%= @customer_plan.plan_employer_zip_code %>
</p>

<p>
  <strong>Plan employer phone:</strong>
  <%= @customer_plan.plan_employer_phone %>
</p>

<p>
  <strong>Plan employer contact:</strong>
  <%= @customer_plan.plan_employer_contact %>
</p>

<p>
  <strong>Plan employer carrier:</strong>
  <%= @customer_plan.plan_employer_carrier_id %>
</p>

<p>
  <strong>Plan employer claim number:</strong>
  <%= @customer_plan.plan_employer_claim_number %>
</p>

<p>
  <strong>Plan carrier id number:</strong>
  <%= @customer_plan.plan_carrier_id_number %>
</p>

<p>
  <strong>Plan assist drug ndc:</strong>
  <%= @customer_plan.plan_assist_drug_ndc %>
</p>

<p>
  <strong>Plan brand name copay:</strong>
  <%= @customer_plan.plan_brand_name_copay %>
</p>

<p>
  <strong>Plan generic drug copay:</strong>
  <%= @customer_plan.plan_generic_drug_copay %>
</p>

<p>
  <strong>Plan brand name copay pct:</strong>
  <%= @customer_plan.plan_brand_name_copay_pct %>
</p>

<p>
  <strong>Plan generic copay pct:</strong>
  <%= @customer_plan.plan_generic_copay_pct %>
</p>

<p>
  <strong>Plan ytd copay:</strong>
  <%= @customer_plan.plan_ytd_copay %>
</p>

<p>
  <strong>Plan ytd copay limit:</strong>
  <%= @customer_plan.plan_ytd_copay_limit %>
</p>

<p>
  <strong>Plan fixed copay:</strong>
  <%= @customer_plan.plan_fixed_copay %>
</p>

<p>
  <strong>Plan higher copay:</strong>
  <%= @customer_plan.plan_higher_copay %>
</p>

<p>
  <strong>Plan begin range:</strong>
  <%= @customer_plan.plan_begin_range %>
</p>

<%= link_to 'Edit', edit_customer_plan_path(@customer_plan) %> |
<%= link_to 'Back', customer_plans_path %>
