<<% phx_subnav_for :m_claim %>

<% provide(:claim, "active") %>

<%= form_for( @claimerror ) do |f| %>

<div class="col-lg-10 phx-working-area-background">

    <!-- working area title and nav -->
    <div class="row span10 phx-working-area-nav">

        <%# temporarily disable hamburger  with  type="button" %>
        <div class="col-xs-1 phx-hamburger-box">
            <button type="button" class="phx-hamburger">|||</button>
        </div>

        <div class="phx-working-area-nav">
            <row>
				<div class="col-lg-8">
			      <div class="phx-working-area-title">Claim Error Codes
			      </div>
				</div>
				<div class="col-lg-3 phx-working-area-title-buttons">
				</div>
			</row>
			</div> <%# END of Working Area TITLE %>

		</div> <%# END of Working Area TITLE and NAV %>

		<!-- working area -->
		<div class="container-fluid phx-working-area-background phx-working-area-position">

				<!-- Primary Info -->
				<div class="col-lg-4">

					<div class="phx-primary-info-column">


	                    <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

	                    <div class="col-md-12">
	                        <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
	                        Claims Error
	                        </div>
	                    </div>

	                    <div class="form-group phx-input-control-spacer" style="margin-bottom:-20px;">&nbsp;</div>

						<div class="row phx-two-horizontal-controls">
							<%= phx_textfield_for f, :error_type, "Error Type", 0, "col-md-6" %>

							<%= phx_textfield_for f, :error_code, "Error Code", 0, "col-md-6" %>
						</div>

						<%= phx_textfield_for f, :error_text, "Plan Name" %>

						<%= phx_textarea_for f, :error_text, "Error Text", 5 %>

						<div class="form-group phx-input-control-spacer"></div>

					</div> <!-- end of container fluid for Primary Info -->

				</div> <!-- end of Primary Info col lg def -->

				<div class="col-lg-7">
                </div>

        	</div> <!-- end of tab area -->

    </div> <!-- end of work area -->

    <div id="claim_search_modal_partial">
        <div id="claimSearchModal">
        </div>
    </div>

<% end %> <!-- end of form-->

<script>

</script>
