<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @facility.dept_number %>
</p>

<p>
  <strong>Facility id number:</strong>
  <%= @facility.facility_id_number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @facility.short_name %>
</p>

<p>
  <strong>Active flag:</strong>
  <%= @facility.active_flag %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @facility.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @facility.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @facility.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @facility.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @facility.zip_code %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @facility.account_number %>
</p>

<p>
  <strong>Internal id number:</strong>
  <%= @facility.internal_id_number %>
</p>

<p>
  <strong>State id number:</strong>
  <%= @facility.state_id_number %>
</p>

<p>
  <strong>Npi number:</strong>
  <%= @facility.npi_number %>
</p>

<p>
  <strong>Price schedule:</strong>
  <%= @facility.price_schedule %>
</p>

<p>
  <strong>Universal fee:</strong>
  <%= @facility.universal_fee %>
</p>

<p>
  <strong>Unit dose fee:</strong>
  <%= @facility.unit_dose_fee %>
</p>

<p>
  <strong>Control drug fee:</strong>
  <%= @facility.control_drug_fee %>
</p>

<p>
  <strong>Narcotic fee:</strong>
  <%= @facility.narcotic_fee %>
</p>

<p>
  <strong>Allow customer discount:</strong>
  <%= @facility.allow_customer_discount %>
</p>

<p>
  <strong>Label type:</strong>
  <%= @facility.label_type %>
</p>

<p>
  <strong>Spool labels:</strong>
  <%= @facility.spool_labels %>
</p>

<p>
  <strong>Label default:</strong>
  <%= @facility.label_default %>
</p>

<p>
  <strong>Use expiration date:</strong>
  <%= @facility.use_expiration_date %>
</p>

<p>
  <strong>Expiration default:</strong>
  <%= @facility.expiration_default %>
</p>

<p>
  <strong>Use lot number:</strong>
  <%= @facility.use_lot_number %>
</p>

<p>
  <strong>Use doc u dose:</strong>
  <%= @facility.use_doc_u_dose %>
</p>

<p>
  <strong>Default to primary plan:</strong>
  <%= @facility.default_to_primary_plan %>
</p>

<p>
  <strong>Use valid division codes:</strong>
  <%= @facility.use_valid_division_codes %>
</p>

<p>
  <strong>Use form flags:</strong>
  <%= @facility.use_form_flags %>
</p>

<p>
  <strong>Use start date:</strong>
  <%= @facility.use_start_date %>
</p>

<p>
  <strong>Post zero copay:</strong>
  <%= @facility.post_zero_copay %>
</p>

<p>
  <strong>Use auto fill:</strong>
  <%= @facility.use_auto_fill %>
</p>

<p>
  <strong>Use patient counseling:</strong>
  <%= @facility.use_patient_counseling %>
</p>

<p>
  <strong>Print patient counseling:</strong>
  <%= @facility.print_patient_counseling %>
</p>

<p>
  <strong>Select counseling:</strong>
  <%= @facility.select_counseling %>
</p>

<p>
  <strong>Check dur:</strong>
  <%= @facility.check_dur %>
</p>

<p>
  <strong>Print monograph:</strong>
  <%= @facility.print_monograph %>
</p>

<p>
  <strong>Log dur results:</strong>
  <%= @facility.log_dur_results %>
</p>

<p>
  <strong>Require hippa privacy notice:</strong>
  <%= @facility.require_hippa_privacy_notice %>
</p>

<p>
  <strong>Print medication administration form:</strong>
  <%= @facility.print_medication_administration_form %>
</p>

<p>
  <strong>Print physician order form:</strong>
  <%= @facility.print_physician_order_form %>
</p>

<p>
  <strong>Print treatment form:</strong>
  <%= @facility.print_treatment_form %>
</p>

<p>
  <strong>Print delivery receipt:</strong>
  <%= @facility.print_delivery_receipt %>
</p>

<p>
  <strong>Medication administration form:</strong>
  <%= @facility.medication_administration_form %>
</p>

<p>
  <strong>Physician orders form:</strong>
  <%= @facility.physician_orders_form %>
</p>

<p>
  <strong>Treatment form:</strong>
  <%= @facility.treatment_form %>
</p>

<p>
  <strong>Print order:</strong>
  <%= @facility.print_order %>
</p>

<p>
  <strong>Print pass times:</strong>
  <%= @facility.print_pass_times %>
</p>

<p>
  <strong>Print other allergy:</strong>
  <%= @facility.print_other_allergy %>
</p>

<p>
  <strong>Med administration routine heading:</strong>
  <%= @facility.med_administration_routine_heading %>
</p>

<p>
  <strong>Med administration prn heading:</strong>
  <%= @facility.med_administration_prn_heading %>
</p>

<p>
  <strong>Treatment heading:</strong>
  <%= @facility.treatment_heading %>
</p>

<p>
  <strong>Print fill date:</strong>
  <%= @facility.print_fill_date %>
</p>

<p>
  <strong>Print original date:</strong>
  <%= @facility.print_original_date %>
</p>

<p>
  <strong>Print in frequency order:</strong>
  <%= @facility.print_in_frequency_order %>
</p>

<p>
  <strong>Require rx copy in facility:</strong>
  <%= @facility.require_rx_copy_in_facility %>
</p>

<p>
  <strong>Type of facility:</strong>
  <%= @facility.type_of_facility %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
