<%= simple_form_for(@claim_cob_response) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dept_number %>
    <%= f.input :rna_plan_id_code %>
    <%= f.input :rx_number %>
    <%= f.input :fill_number %>
    <%= f.input :other_payor_count %>
    <%= f.input :primary_payor_coverage_type %>
    <%= f.input :primary_payor_id_qualifier %>
    <%= f.input :primary_payor_id %>
    <%= f.input :primary_payor_processor_control_number %>
    <%= f.input :primary_payor_card_id_number %>
    <%= f.input :primary_payor_group_number %>
    <%= f.input :primary_payor_person_code %>
    <%= f.input :primary_payor_phone_number %>
    <%= f.input :primary_payor_relation_code %>
    <%= f.input :primary_payor_effective_date %>
    <%= f.input :primary_payor_expiration_date %>
    <%= f.input :primary_payor_benefit_count %>
    <%= f.input :primary_payor_benefit_qualifier %>
    <%= f.input :primary_payor_benefit_amount %>
    <%= f.input :primary_payor_coverage_gap %>
    <%= f.input :secondary_payor_coverage_type %>
    <%= f.input :secondary_payor_id_qualifier %>
    <%= f.input :secondary_payor_id %>
    <%= f.input :secondary_payor_processor_control_number %>
    <%= f.input :secondary_payor_card_id_number %>
    <%= f.input :secondary_payor_group_number %>
    <%= f.input :secondary_payor_person_code %>
    <%= f.input :secondary_payor_phone_number %>
    <%= f.input :secondary_payor_relation_code %>
    <%= f.input :secondary_payor_effective_date %>
    <%= f.input :secondary_payor_expiration_date %>
    <%= f.input :secondary_payor_benefit_count %>
    <%= f.input :secondary_payor_benefit_qualifier %>
    <%= f.input :secondary_payor_benefit_amount %>
    <%= f.input :secondary_payor_coverage_gap %>
    <%= f.input :tertiary_payor_coverage_type %>
    <%= f.input :tertiary_payor_id_qualifier %>
    <%= f.input :tertiary_payor_id %>
    <%= f.input :tertiary_payor_processor_control_number %>
    <%= f.input :tertiary_payor_card_id_number %>
    <%= f.input :tertiary_payor_group_number %>
    <%= f.input :tertiary_payor_person_code %>
    <%= f.input :tertiary_payor_phone_number %>
    <%= f.input :tertiary_payor_relation_code %>
    <%= f.input :tertiary_payor_effective_date %>
    <%= f.input :tertiary_payor_expiration_date %>
    <%= f.input :tertiary_payor_benefit_count %>
    <%= f.input :tertiary_payor_benefit_qualifier %>
    <%= f.input :tertiary_payor_benefit_amount %>
    <%= f.input :tertiary_payor_coverage_gap %>
    <%= f.input :fourth_payor_coverage_type %>
    <%= f.input :fourth_payor_id_qualifier %>
    <%= f.input :fourth_payor_id %>
    <%= f.input :fourth_payor_processor_control_number %>
    <%= f.input :fourth_payor_card_id_number %>
    <%= f.input :fourth_payor_group_number %>
    <%= f.input :fourth_payor_person_code %>
    <%= f.input :fourth_payor_phone_number %>
    <%= f.input :fourth_payor_relation_code %>
    <%= f.input :fourth_payor_effective_date %>
    <%= f.input :fourth_payor_expiration_date %>
    <%= f.input :fourth_payor_benefit_count %>
    <%= f.input :fourth_payor_benefit_qualifier %>
    <%= f.input :fourth_payor_benefit_amount %>
    <%= f.input :fourth_payor_coverage_gap %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
