<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_cob_response.dept_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_cob_response.rna_plan_id_code %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_cob_response.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @claim_cob_response.fill_number %>
</p>

<p>
  <strong>Other payor count:</strong>
  <%= @claim_cob_response.other_payor_count %>
</p>

<p>
  <strong>Primary payor coverage type:</strong>
  <%= @claim_cob_response.primary_payor_coverage_type %>
</p>

<p>
  <strong>Primary payor id qualifier:</strong>
  <%= @claim_cob_response.primary_payor_id_qualifier %>
</p>

<p>
  <strong>Primary payor:</strong>
  <%= @claim_cob_response.primary_payor_id %>
</p>

<p>
  <strong>Primary payor processor control number:</strong>
  <%= @claim_cob_response.primary_payor_processor_control_number %>
</p>

<p>
  <strong>Primary payor card id number:</strong>
  <%= @claim_cob_response.primary_payor_card_id_number %>
</p>

<p>
  <strong>Primary payor group number:</strong>
  <%= @claim_cob_response.primary_payor_group_number %>
</p>

<p>
  <strong>Primary payor person code:</strong>
  <%= @claim_cob_response.primary_payor_person_code %>
</p>

<p>
  <strong>Primary payor phone number:</strong>
  <%= @claim_cob_response.primary_payor_phone_number %>
</p>

<p>
  <strong>Primary payor relation code:</strong>
  <%= @claim_cob_response.primary_payor_relation_code %>
</p>

<p>
  <strong>Primary payor effective date:</strong>
  <%= @claim_cob_response.primary_payor_effective_date %>
</p>

<p>
  <strong>Primary payor expiration date:</strong>
  <%= @claim_cob_response.primary_payor_expiration_date %>
</p>

<p>
  <strong>Primary payor benefit count:</strong>
  <%= @claim_cob_response.primary_payor_benefit_count %>
</p>

<p>
  <strong>Primary payor benefit qualifier:</strong>
  <%= @claim_cob_response.primary_payor_benefit_qualifier %>
</p>

<p>
  <strong>Primary payor benefit amount:</strong>
  <%= @claim_cob_response.primary_payor_benefit_amount %>
</p>

<p>
  <strong>Primary payor coverage gap:</strong>
  <%= @claim_cob_response.primary_payor_coverage_gap %>
</p>

<p>
  <strong>Secondary payor coverage type:</strong>
  <%= @claim_cob_response.secondary_payor_coverage_type %>
</p>

<p>
  <strong>Secondary payor id qualifier:</strong>
  <%= @claim_cob_response.secondary_payor_id_qualifier %>
</p>

<p>
  <strong>Secondary payor:</strong>
  <%= @claim_cob_response.secondary_payor_id %>
</p>

<p>
  <strong>Secondary payor processor control number:</strong>
  <%= @claim_cob_response.secondary_payor_processor_control_number %>
</p>

<p>
  <strong>Secondary payor card id number:</strong>
  <%= @claim_cob_response.secondary_payor_card_id_number %>
</p>

<p>
  <strong>Secondary payor group number:</strong>
  <%= @claim_cob_response.secondary_payor_group_number %>
</p>

<p>
  <strong>Secondary payor person code:</strong>
  <%= @claim_cob_response.secondary_payor_person_code %>
</p>

<p>
  <strong>Secondary payor phone number:</strong>
  <%= @claim_cob_response.secondary_payor_phone_number %>
</p>

<p>
  <strong>Secondary payor relation code:</strong>
  <%= @claim_cob_response.secondary_payor_relation_code %>
</p>

<p>
  <strong>Secondary payor effective date:</strong>
  <%= @claim_cob_response.secondary_payor_effective_date %>
</p>

<p>
  <strong>Secondary payor expiration date:</strong>
  <%= @claim_cob_response.secondary_payor_expiration_date %>
</p>

<p>
  <strong>Secondary payor benefit count:</strong>
  <%= @claim_cob_response.secondary_payor_benefit_count %>
</p>

<p>
  <strong>Secondary payor benefit qualifier:</strong>
  <%= @claim_cob_response.secondary_payor_benefit_qualifier %>
</p>

<p>
  <strong>Secondary payor benefit amount:</strong>
  <%= @claim_cob_response.secondary_payor_benefit_amount %>
</p>

<p>
  <strong>Secondary payor coverage gap:</strong>
  <%= @claim_cob_response.secondary_payor_coverage_gap %>
</p>

<p>
  <strong>Tertiary payor coverage type:</strong>
  <%= @claim_cob_response.tertiary_payor_coverage_type %>
</p>

<p>
  <strong>Tertiary payor id qualifier:</strong>
  <%= @claim_cob_response.tertiary_payor_id_qualifier %>
</p>

<p>
  <strong>Tertiary payor:</strong>
  <%= @claim_cob_response.tertiary_payor_id %>
</p>

<p>
  <strong>Tertiary payor processor control number:</strong>
  <%= @claim_cob_response.tertiary_payor_processor_control_number %>
</p>

<p>
  <strong>Tertiary payor card id number:</strong>
  <%= @claim_cob_response.tertiary_payor_card_id_number %>
</p>

<p>
  <strong>Tertiary payor group number:</strong>
  <%= @claim_cob_response.tertiary_payor_group_number %>
</p>

<p>
  <strong>Tertiary payor person code:</strong>
  <%= @claim_cob_response.tertiary_payor_person_code %>
</p>

<p>
  <strong>Tertiary payor phone number:</strong>
  <%= @claim_cob_response.tertiary_payor_phone_number %>
</p>

<p>
  <strong>Tertiary payor relation code:</strong>
  <%= @claim_cob_response.tertiary_payor_relation_code %>
</p>

<p>
  <strong>Tertiary payor effective date:</strong>
  <%= @claim_cob_response.tertiary_payor_effective_date %>
</p>

<p>
  <strong>Tertiary payor expiration date:</strong>
  <%= @claim_cob_response.tertiary_payor_expiration_date %>
</p>

<p>
  <strong>Tertiary payor benefit count:</strong>
  <%= @claim_cob_response.tertiary_payor_benefit_count %>
</p>

<p>
  <strong>Tertiary payor benefit qualifier:</strong>
  <%= @claim_cob_response.tertiary_payor_benefit_qualifier %>
</p>

<p>
  <strong>Tertiary payor benefit amount:</strong>
  <%= @claim_cob_response.tertiary_payor_benefit_amount %>
</p>

<p>
  <strong>Tertiary payor coverage gap:</strong>
  <%= @claim_cob_response.tertiary_payor_coverage_gap %>
</p>

<p>
  <strong>Fourth payor coverage type:</strong>
  <%= @claim_cob_response.fourth_payor_coverage_type %>
</p>

<p>
  <strong>Fourth payor id qualifier:</strong>
  <%= @claim_cob_response.fourth_payor_id_qualifier %>
</p>

<p>
  <strong>Fourth payor:</strong>
  <%= @claim_cob_response.fourth_payor_id %>
</p>

<p>
  <strong>Fourth payor processor control number:</strong>
  <%= @claim_cob_response.fourth_payor_processor_control_number %>
</p>

<p>
  <strong>Fourth payor card id number:</strong>
  <%= @claim_cob_response.fourth_payor_card_id_number %>
</p>

<p>
  <strong>Fourth payor group number:</strong>
  <%= @claim_cob_response.fourth_payor_group_number %>
</p>

<p>
  <strong>Fourth payor person code:</strong>
  <%= @claim_cob_response.fourth_payor_person_code %>
</p>

<p>
  <strong>Fourth payor phone number:</strong>
  <%= @claim_cob_response.fourth_payor_phone_number %>
</p>

<p>
  <strong>Fourth payor relation code:</strong>
  <%= @claim_cob_response.fourth_payor_relation_code %>
</p>

<p>
  <strong>Fourth payor effective date:</strong>
  <%= @claim_cob_response.fourth_payor_effective_date %>
</p>

<p>
  <strong>Fourth payor expiration date:</strong>
  <%= @claim_cob_response.fourth_payor_expiration_date %>
</p>

<p>
  <strong>Fourth payor benefit count:</strong>
  <%= @claim_cob_response.fourth_payor_benefit_count %>
</p>

<p>
  <strong>Fourth payor benefit qualifier:</strong>
  <%= @claim_cob_response.fourth_payor_benefit_qualifier %>
</p>

<p>
  <strong>Fourth payor benefit amount:</strong>
  <%= @claim_cob_response.fourth_payor_benefit_amount %>
</p>

<p>
  <strong>Fourth payor coverage gap:</strong>
  <%= @claim_cob_response.fourth_payor_coverage_gap %>
</p>

<%= link_to 'Edit', edit_claim_cob_response_path(@claim_cob_response) %> |
<%= link_to 'Back', claim_cob_responses_path %>
