<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @customer.dept_number %>
</p>

<p>
  <strong>Rna customer id number:</strong>
  <%= @customer.rna_customer_id_number %>
</p>

<p>
  <strong>Active:</strong>
  <%= @customer.active_flag %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @customer.middle_name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip_code %>
</p>

<p>
  <strong>Head of household number:</strong>
  <%= @customer.head_of_household_rna_id_number %>
</p>

<p>
  <strong>Doc u dose:</strong>
  <%= @customer.doc_u_dose %>
</p>

<p>
  <strong>Doc u dose group:</strong>
  <%= @customer.doc_u_dose_group %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @customer.birthdate %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @customer.ssn %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Alternate address:</strong>
  <%= @customer.alternate_address %>
</p>

<p>
  <strong>Preferred contact:</strong>
  <%= @customer.preferred_contact %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Head of household flag:</strong>
  <%= @customer.head_of_household_flag %>
</p>

<p>
  <strong>Primary dr id number:</strong>
  <%= @customer.primary_rna_prescriber_id_number %>
</p>

<p>
  <strong>Tax exempt:</strong>
  <%= @customer.tax_exempt %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @customer.memo %>
</p>

<p>
  <strong>Discount name:</strong>
  <%= @customer.discount_name %>
</p>

<p>
  <strong>Discount pct:</strong>
  <%= @customer.discount_pct %>
</p>

<p>
  <strong>Nursing home resident:</strong>
  <%= @customer.nursing_home_resident %>
</p>

<p>
  <strong>Price schedule:</strong>
  <%= @customer.price_schedule %>
</p>

<p>
  <strong>Childproof cap:</strong>
  <%= @customer.childproof_cap %>
</p>

<p>
  <strong>Generic substitution:</strong>
  <%= @customer.generic_substitution %>
</p>

<p>
  <strong>Last rx report date:</strong>
  <%= @customer.last_rx_report_date %>
</p>

<p>
  <strong>Pregnant:</strong>
  <%= @customer.pregnant %>
</p>

<p>
  <strong>Nursing:</strong>
  <%= @customer.nursing %>
</p>

<p>
  <strong>Height:</strong>
  <%= @customer.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @customer.weight %>
</p>

<p>
  <strong>Other language:</strong>
  <%= @customer.other_language %>
</p>

<p>
  <strong>Other allergies:</strong>
  <%= @customer.other_allergies %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @customer.notes %>
</p>

<p>
  <strong>Terminal:</strong>
  <%= @customer.terminal %>
</p>

<p>
  <strong>Deceased date:</strong>
  <%= @customer.deceased_date %>
</p>

<p>
  <strong>Needs review:</strong>
  <%= @customer.needs_review %>
</p>

<p>
  <strong>Signature on file:</strong>
  <%= @customer.signature_on_file %>
</p>

<p>
  <strong>Hippa signature date:</strong>
  <%= @customer.hippa_signature_date %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @customer.smoker %>
</p>

<p>
  <strong>Facility id number:</strong>
  <%= @customer.facility_id_number %>
</p>

<p>
  <strong>Location code:</strong>
  <%= @customer.location_code %>
</p>

<p>
  <strong>Residence code:</strong>
  <%= @customer.residence_code %>
</p>

<p>
  <strong>Reporting group1:</strong>
  <%= @customer.reporting_group1 %>
</p>

<p>
  <strong>Reporting group2:</strong>
  <%= @customer.reporting_group2 %>
</p>

<p>
  <strong>Reporting group3:</strong>
  <%= @customer.reporting_group3 %>
</p>

<p>
  <strong>Diagnosis codes:</strong>
  <%= @customer.diagnosis_codes %>
</p>

<p>
  <strong>Special label:</strong>
  <%= @customer.special_label %>
</p>

<p>
  <strong>Text msg:</strong>
  <%= @customer.text_msg %>
</p>

<p>
  <strong>Wellness:</strong>
  <%= @customer.wellness %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @customer.ethnicity %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
