<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_authorization.dept_number %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_authorization.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @claim_authorization.fill_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_authorization.rna_plan_id_code %>
</p>

<p>
  <strong>Claim type:</strong>
  <%= @claim_authorization.claim_type %>
</p>

<p>
  <strong>Authorization number:</strong>
  <%= @claim_authorization.authorization_number %>
</p>

<%= link_to 'Edit', edit_claim_authorization_path(@claim_authorization) %> |
<%= link_to 'Back', claim_authorizations_path %>
