<p id="notice"><%= notice %></p>

<p>
  <strong>Ndc number:</strong>
  <%= @cdb_drug_reference.ndc_number %>
</p>

<p>
  <strong>Ndc number10:</strong>
  <%= @cdb_drug_reference.ndc_number10 %>
</p>

<p>
  <strong>Ddid number:</strong>
  <%= @cdb_drug_reference.ddid_number %>
</p>

<p>
  <strong>Kdc code:</strong>
  <%= @cdb_drug_reference.kdc_code %>
</p>

<p>
  <strong>Drug name:</strong>
  <%= @cdb_drug_reference.drug_name %>
</p>

<p>
  <strong>Generic product:</strong>
  <%= @cdb_drug_reference.generic_product_id %>
</p>

<p>
  <strong>Therapeutic equivalence eval code:</strong>
  <%= @cdb_drug_reference.therapeutic_equivalence_eval_code %>
</p>

<p>
  <strong>Dea schedule:</strong>
  <%= @cdb_drug_reference.dea_schedule %>
</p>

<p>
  <strong>Desi code:</strong>
  <%= @cdb_drug_reference.desi_code %>
</p>

<p>
  <strong>Rx otc indicator:</strong>
  <%= @cdb_drug_reference.rx_otc_indicator %>
</p>

<p>
  <strong>Generic packaging code:</strong>
  <%= @cdb_drug_reference.generic_packaging_code %>
</p>

<p>
  <strong>Previous ndc number:</strong>
  <%= @cdb_drug_reference.previous_ndc_number %>
</p>

<p>
  <strong>New ndc number:</strong>
  <%= @cdb_drug_reference.new_ndc_number %>
</p>

<p>
  <strong>Repackage code:</strong>
  <%= @cdb_drug_reference.repackage_code %>
</p>

<p>
  <strong>Id number format:</strong>
  <%= @cdb_drug_reference.id_number_format %>
</p>

<p>
  <strong>Package size:</strong>
  <%= @cdb_drug_reference.package_size %>
</p>

<p>
  <strong>Package size unit measure:</strong>
  <%= @cdb_drug_reference.package_size_unit_measure %>
</p>

<p>
  <strong>Package size quantity:</strong>
  <%= @cdb_drug_reference.package_size_quantity %>
</p>

<p>
  <strong>Mfg name:</strong>
  <%= @cdb_drug_reference.mfg_name %>
</p>

<p>
  <strong>Third party restriction code:</strong>
  <%= @cdb_drug_reference.third_party_restriction_code %>
</p>

<p>
  <strong>Kdc flag:</strong>
  <%= @cdb_drug_reference.kdc_flag %>
</p>

<p>
  <strong>Labeler id number:</strong>
  <%= @cdb_drug_reference.labeler_id_number %>
</p>

<p>
  <strong>Multi source code:</strong>
  <%= @cdb_drug_reference.multi_source_code %>
</p>

<p>
  <strong>Name type code:</strong>
  <%= @cdb_drug_reference.name_type_code %>
</p>

<p>
  <strong>Item status flag:</strong>
  <%= @cdb_drug_reference.item_status_flag %>
</p>

<p>
  <strong>Innerpack code:</strong>
  <%= @cdb_drug_reference.innerpack_code %>
</p>

<p>
  <strong>Clinic pack code:</strong>
  <%= @cdb_drug_reference.clinic_pack_code %>
</p>

<p>
  <strong>Pharmacy stocked indicator:</strong>
  <%= @cdb_drug_reference.pharmacy_stocked_indicator %>
</p>

<p>
  <strong>Hospital stocked indicator:</strong>
  <%= @cdb_drug_reference.hospital_stocked_indicator %>
</p>

<p>
  <strong>Dispensing unit code:</strong>
  <%= @cdb_drug_reference.dispensing_unit_code %>
</p>

<p>
  <strong>Dollar rank code:</strong>
  <%= @cdb_drug_reference.dollar_rank_code %>
</p>

<p>
  <strong>Rx rank code:</strong>
  <%= @cdb_drug_reference.rx_rank_code %>
</p>

<p>
  <strong>Storage code:</strong>
  <%= @cdb_drug_reference.storage_code %>
</p>

<p>
  <strong>Limited distribution code:</strong>
  <%= @cdb_drug_reference.limited_distribution_code %>
</p>

<p>
  <strong>Old ndc effective date:</strong>
  <%= @cdb_drug_reference.old_ndc_effective_date %>
</p>

<p>
  <strong>New ndc effective date:</strong>
  <%= @cdb_drug_reference.new_ndc_effective_date %>
</p>

<p>
  <strong>Next smaller ndc:</strong>
  <%= @cdb_drug_reference.next_smaller_ndc %>
</p>

<p>
  <strong>Next larger ndc:</strong>
  <%= @cdb_drug_reference.next_larger_ndc %>
</p>

<p>
  <strong>Last change date:</strong>
  <%= @cdb_drug_reference.last_change_date %>
</p>

<p>
  <strong>Awp unit price:</strong>
  <%= @cdb_drug_reference.awp_unit_price %>
</p>

<p>
  <strong>Awp package price:</strong>
  <%= @cdb_drug_reference.awp_package_price %>
</p>

<p>
  <strong>Awp last change date:</strong>
  <%= @cdb_drug_reference.awp_last_change_date %>
</p>

<p>
  <strong>Direct unit price:</strong>
  <%= @cdb_drug_reference.direct_unit_price %>
</p>

<p>
  <strong>Direct package price:</strong>
  <%= @cdb_drug_reference.direct_package_price %>
</p>

<p>
  <strong>Direct last change date:</strong>
  <%= @cdb_drug_reference.direct_last_change_date %>
</p>

<p>
  <strong>Wac unit price:</strong>
  <%= @cdb_drug_reference.wac_unit_price %>
</p>

<p>
  <strong>Wac package price:</strong>
  <%= @cdb_drug_reference.wac_package_price %>
</p>

<p>
  <strong>Wac last change date:</strong>
  <%= @cdb_drug_reference.wac_last_change_date %>
</p>

<p>
  <strong>Federal mac unit price:</strong>
  <%= @cdb_drug_reference.federal_mac_unit_price %>
</p>

<p>
  <strong>Federal mac last change date:</strong>
  <%= @cdb_drug_reference.federal_mac_last_change_date %>
</p>

<p>
  <strong>Federal mac unit dose:</strong>
  <%= @cdb_drug_reference.federal_mac_unit_dose %>
</p>

<p>
  <strong>Federal mac unitdose last change date:</strong>
  <%= @cdb_drug_reference.federal_mac_unitdose_last_change_date %>
</p>

<p>
  <strong>Route of admin code:</strong>
  <%= @cdb_drug_reference.route_of_admin_code %>
</p>

<p>
  <strong>Dosage form:</strong>
  <%= @cdb_drug_reference.dosage_form %>
</p>

<p>
  <strong>Drug strength:</strong>
  <%= @cdb_drug_reference.drug_strength %>
</p>

<p>
  <strong>Strength unit measure:</strong>
  <%= @cdb_drug_reference.strength_unit_measure %>
</p>

<p>
  <strong>Bioequivalence code:</strong>
  <%= @cdb_drug_reference.bioequivalence_code %>
</p>

<p>
  <strong>Controlled substance code:</strong>
  <%= @cdb_drug_reference.controlled_substance_code %>
</p>

<p>
  <strong>Efficacy code:</strong>
  <%= @cdb_drug_reference.efficacy_code %>
</p>

<p>
  <strong>Legend indicator:</strong>
  <%= @cdb_drug_reference.legend_indicator %>
</p>

<p>
  <strong>Brand name code:</strong>
  <%= @cdb_drug_reference.brand_name_code %>
</p>

<p>
  <strong>Name source code:</strong>
  <%= @cdb_drug_reference.name_source_code %>
</p>

<p>
  <strong>New ddid number:</strong>
  <%= @cdb_drug_reference.new_ddid_number %>
</p>

<p>
  <strong>Screenable flag:</strong>
  <%= @cdb_drug_reference.screenable_flag %>
</p>

<p>
  <strong>Local systemic flag:</strong>
  <%= @cdb_drug_reference.local_systemic_flag %>
</p>

<p>
  <strong>Maintenance code:</strong>
  <%= @cdb_drug_reference.maintenance_code %>
</p>

<p>
  <strong>Form type code:</strong>
  <%= @cdb_drug_reference.form_type_code %>
</p>

<p>
  <strong>Internal external code:</strong>
  <%= @cdb_drug_reference.internal_external_code %>
</p>

<p>
  <strong>Single combo code:</strong>
  <%= @cdb_drug_reference.single_combo_code %>
</p>

<p>
  <strong>Representative gpi flag:</strong>
  <%= @cdb_drug_reference.representative_gpi_flag %>
</p>

<p>
  <strong>Representative kdc flag:</strong>
  <%= @cdb_drug_reference.representative_kdc_flag %>
</p>

<p>
  <strong>Clarity:</strong>
  <%= @cdb_drug_reference.clarity %>
</p>

<p>
  <strong>Coating:</strong>
  <%= @cdb_drug_reference.coating %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cdb_drug_reference.color %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @cdb_drug_reference.flavor %>
</p>

<p>
  <strong>Scored:</strong>
  <%= @cdb_drug_reference.scored %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @cdb_drug_reference.shape %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @cdb_drug_reference.image_file_name %>
</p>

<p>
  <strong>Side1 imprint:</strong>
  <%= @cdb_drug_reference.side1_imprint %>
</p>

<p>
  <strong>Side2 imprint:</strong>
  <%= @cdb_drug_reference.side2_imprint %>
</p>

<p>
  <strong>Appearance text:</strong>
  <%= @cdb_drug_reference.appearance_text %>
</p>

<p>
  <strong>Medication guide file:</strong>
  <%= @cdb_drug_reference.medication_guide_file %>
</p>

<p>
  <strong>Monitoring program:</strong>
  <%= @cdb_drug_reference.monitoring_program %>
</p>

<p>
  <strong>Monitoring file name:</strong>
  <%= @cdb_drug_reference.monitoring_file_name %>
</p>

<p>
  <strong>Monograph file name:</strong>
  <%= @cdb_drug_reference.monograph_file_name %>
</p>

<p>
  <strong>Black box file name:</strong>
  <%= @cdb_drug_reference.black_box_file_name %>
</p>

<p>
  <strong>Contains acetaminophen:</strong>
  <%= @cdb_drug_reference.contains_acetaminophen %>
</p>

<p>
  <strong>Contains pseudoephedrine:</strong>
  <%= @cdb_drug_reference.contains_pseudoephedrine %>
</p>

<%= link_to 'Edit', edit_cdb_drug_reference_path(@cdb_drug_reference) %> |
<%= link_to 'Back', cdb_drug_references_path %>
