<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @dispense.dept_number %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @dispense.rx_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @dispense.fill_number %>
</p>

<p>
  <strong>Rna customer id number:</strong>
  <%= @dispense.rna_customer_id_number %>
</p>

<p>
  <strong>Fill date:</strong>
  <%= @dispense.fill_date %>
</p>

<p>
  <strong>Rna item id number:</strong>
  <%= @dispense.rna_item_id_number %>
</p>

<p>
  <strong>Active flag:</strong>
  <%= @dispense.active_flag %>
</p>

<p>
  <strong>Refill type:</strong>
  <%= @dispense.refill_type %>
</p>

<p>
  <strong>Refill status:</strong>
  <%= @dispense.refill_status %>
</p>

<p>
  <strong>Split bill rx:</strong>
  <%= @dispense.split_bill_rx %>
</p>

<p>
  <strong>Billing complete:</strong>
  <%= @dispense.billing_complete %>
</p>

<p>
  <strong>Pharmacist initials:</strong>
  <%= @dispense.pharmacist_initials %>
</p>

<p>
  <strong>Technician initials:</strong>
  <%= @dispense.technician_initials %>
</p>

<p>
  <strong>Fill time:</strong>
  <%= @dispense.fill_time %>
</p>

<p>
  <strong>Fill quantity:</strong>
  <%= @dispense.fill_quantity %>
</p>

<p>
  <strong>Fill days supply:</strong>
  <%= @dispense.fill_days_supply %>
</p>

<p>
  <strong>Route of delivery:</strong>
  <%= @dispense.route_of_delivery %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @dispense.lot_number %>
</p>

<p>
  <strong>Discard date:</strong>
  <%= @dispense.discard_date %>
</p>

<p>
  <strong>Fill price:</strong>
  <%= @dispense.fill_price %>
</p>

<p>
  <strong>Base cost:</strong>
  <%= @dispense.base_cost %>
</p>

<p>
  <strong>Actual cost:</strong>
  <%= @dispense.actual_cost %>
</p>

<p>
  <strong>Fill fee:</strong>
  <%= @dispense.fill_fee %>
</p>

<p>
  <strong>Copay:</strong>
  <%= @dispense.copay %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @dispense.discount %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @dispense.tax %>
</p>

<p>
  <strong>Ancillary fee:</strong>
  <%= @dispense.ancillary_fee %>
</p>

<p>
  <strong>Professional service fee:</strong>
  <%= @dispense.professional_service_fee %>
</p>

<p>
  <strong>Cost basis:</strong>
  <%= @dispense.cost_basis %>
</p>

<p>
  <strong>Other coverage code:</strong>
  <%= @dispense.other_coverage_code %>
</p>

<p>
  <strong>Other amount:</strong>
  <%= @dispense.other_amount %>
</p>

<p>
  <strong>Other amount type:</strong>
  <%= @dispense.other_amount_type %>
</p>

<p>
  <strong>Prior auth type:</strong>
  <%= @dispense.prior_auth_type %>
</p>

<p>
  <strong>Reason for delay:</strong>
  <%= @dispense.reason_for_delay %>
</p>

<p>
  <strong>Denial override code:</strong>
  <%= @dispense.denial_override_code %>
</p>

<p>
  <strong>Dispense status:</strong>
  <%= @dispense.dispense_status %>
</p>

<p>
  <strong>Charge amount:</strong>
  <%= @dispense.charge_amount %>
</p>

<p>
  <strong>Posted flag:</strong>
  <%= @dispense.posted_flag %>
</p>

<p>
  <strong>Primary paytype:</strong>
  <%= @dispense.primary_paytype %>
</p>

<p>
  <strong>Primary paytype amount:</strong>
  <%= @dispense.primary_paytype_amount %>
</p>

<p>
  <strong>Primary paytype billed:</strong>
  <%= @dispense.primary_paytype_billed %>
</p>

<p>
  <strong>Secondary paytype:</strong>
  <%= @dispense.secondary_paytype %>
</p>

<p>
  <strong>Secondary paytype amount:</strong>
  <%= @dispense.secondary_paytype_amount %>
</p>

<p>
  <strong>Secondary paytype billed:</strong>
  <%= @dispense.secondary_paytype_billed %>
</p>

<p>
  <strong>Tertiary paytype:</strong>
  <%= @dispense.tertiary_paytype %>
</p>

<p>
  <strong>Tertiary paytype amount:</strong>
  <%= @dispense.tertiary_paytype_amount %>
</p>

<p>
  <strong>Tertiary paytype billed:</strong>
  <%= @dispense.tertiary_paytype_billed %>
</p>

<p>
  <strong>Fourth paytype:</strong>
  <%= @dispense.fourth_paytype %>
</p>

<p>
  <strong>Fourth paytype amount:</strong>
  <%= @dispense.fourth_paytype_amount %>
</p>

<p>
  <strong>Fourth paytype billed:</strong>
  <%= @dispense.fourth_paytype_billed %>
</p>

<p>
  <strong>Fifth paytype:</strong>
  <%= @dispense.fifth_paytype %>
</p>

<p>
  <strong>Fifth paytype amount:</strong>
  <%= @dispense.fifth_paytype_amount %>
</p>

<p>
  <strong>Fifth paytype billed:</strong>
  <%= @dispense.fifth_paytype_billed %>
</p>

<%= link_to 'Edit', edit_dispense_path(@dispense) %> |
<%= link_to 'Back', dispenses_path %>
