<%= form_for( @vendor ) do |f| %>

<div class="col-lg-10 phx-working-area-background">

    <!-- working area title and nav -->
    <div class="row span10 phx-working-area-nav">

        <%# temporarily disable hamburger  with  type="button" %>
        <div class="col-xs-1 phx-hamburger-box">
            <button type="button" class="phx-hamburger">|||</button>
        </div>

        <%# BEGIN Working Area TITLE %>
        <div class="phx-working-area-title-info">
            <row>
                <div class="col-lg-8">
                    <div class="phx-working-area-title">Vendor Maintenance
                        <% if @vendor.display_name %>
                            <span style="font-weight:font-weight: bold;bold;" id="vendorDisplayName">
                                &nbsp;&nbsp;|&nbsp;&nbsp;<%= @vendor.display_name %>
                            </span>
                        <% end %>
                    </div>
                </div>
                <div class="col-lg-3 phx-working-area-title-buttons">
                </div>
            </row>
        </div> <%# END of Working Area TITLE %>

		</div> <%# END of Working Area TITLE and NAV %>

		<!-- working area -->
		<div class="containter-fluid phx-working-area-background phx-working-area-position">

				<!-- Primary Info -->
				<div class="col-lg-4">

					<div class="phx-primary-info-column">

	                    <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

                        <%= phx_textfield_for f, :name, "Name" %>

                        <%= phx_textfield_for f, :address1, "Address 1" %>

                        <%= phx_textfield_for f, :address2, "Address 2" %>

                        <%= phx_textfield_for f, :city, "City" %>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">State</label>
    							<%= f.text_field :state, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Postal Code</label>
    							<%= f.text_field :postal_code, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">Phone</label>
    							<%= f.text_field :phone, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Fax</label>
    							<%= f.text_field :fax, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">Pharmacy Acct #</label>
    							<%= f.text_field :pharmacy_account_number, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Last Order Date</label>
    							<%= f.date_field :last_order_date, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <%= phx_textfield_for f, :login_name, "Login Name" %>

                        <%= phx_textfield_for f, :website, "Website" %>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">Allow Narcotics</label>
    							<%= f.text_field :allow_narcotics, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Allow Controlled</label>
    							<%= f.text_field :allow_controlled, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">Order by Number</label>
    							<%= f.text_field :order_by_number, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Retain Backorders</label>
    							<%= f.text_field :retain_backorders, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">X12 Interface</label>
    							<%= f.text_field :x12_interface, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Puchase Order Format</label>
    							<%= f.text_field :purchase_order_format, class: 'phx-form-control' %>
    						</div>
    					</div>

                        <div class="row phx-two-horizontal-controls">
    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="dea_number">Credit Limit</label>
    							<%= f.text_field :credit_limit, class: 'phx-form-control' %>
    						</div>

    						<div class="col-md-6 form-group phx-input-control">
    							<label class="phx-form-control-label" for="npi_number">Purchase Order Type</label>
    							<%= f.text_field :purchase_order_type, class: 'phx-form-control' %>
    						</div>
    					</div>

						<div class="form-group phx-input-control-spacer"></div>

					</div> <!-- end of container fluid for Primary Info -->

				</div> <!-- end of Primary Info col lg def -->

        </div>

    </div> <!-- end of work area -->

    <div id="vendor_search_modal_partial">
        <div id="vendorSearchModal">
        </div>
    </div>

<% end %> <!-- end of form-->

<script>

</script>
