<%# supervising_prescriber form %>

<%= form_for( @prescriber ) do |f| %>

    <div class="col-lg-10 phx-working-area-background">

		<%# BEGIN Working Area TITLE and NAV %>
		<div class="row span10 phx-working-area-nav">

			<div class="col-xs-1 phx-hamburger-box">
				<button class="phx-hamburger">|||</button>
			</div>

			<%# BEGIN Working Area TITLE %>
			<div class="phx-working-area-title-info">
				<row>
					<div class="col-lg-8">
						<div class="phx-working-area-title">Prescriber Maintenance
							<% if @prescriber.display_name %>
								<span style="font-weight:font-weight: bold;bold;" id="prescriberDisplayName">
									&nbsp;&nbsp;|&nbsp;&nbsp;<%= @prescriber.display_name %>
						      	</span>
							<% end %>
						</div>
					</div>
					<div class="col-lg-3 phx-working-area-title-buttons">
				        <button type="button" class="btn btn-sm btn-default phx-btn-model-control-white">Back</button>
						<button type="button" class="btn btn-sm btn-default phx-btn-model-control-red">Update</button>
						<input  type="submit" name="commit" value="Create" class="btn btn-sm btn-default phx-btn-model-control-red">
					</div>
				</row>
			</div> <%# END of Working Area TITLE %>

		</div> <%# END of Working Area TITLE and NAV %>

		<%# BEGIN Working Area %>
		<div class="containter-fluid" style="padding-top:30px;">

			<!-- Primary Info -->
			<div class="col-lg-4">

				<div class="phx-primary-info-column">

                    <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

                    <div class="col-md-12">
                        <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                        Primary Info
                        </div>
                        <%= phx_checkbox_for f, :active, "Active", "col-md-1 pull-right" %>
                    </div>

                    <div class="form-group phx-input-control-spacer" style="margin-bottom: -25px;">&nbsp;</div>

                    <!-- hidden field to grabl the value from the modal -->
					<input type="hidden" value="" name="hidden_prescriber_id" id="hidden_prescriber_id">


                    <%= phx_textfield_for f, :last_name, "Last Name" %>

                    <%= phx_textfield_for f, :first_name, "First Name" %>

                    <%= phx_textfield_for f, :middle_name, "Middle Name" %>

                    <%= phx_textfield_for f, :address1, "Address1" %>

                    <%= phx_textfield_for f, :address2, "Address2" %>

                    <%= phx_textfield_for f, :city, "City" %>

					<div class="row phx-two-horizontal-controls">
						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="state">State</label>
							<%= f.text_field :state, class: 'phx-form-control' %>
						</div>

						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="zip_code">Postal Code</label>
							<%= f.text_field :zip_code, class: 'phx-form-control' %>
						</div>
					</div>

					<div class="row phx-two-horizontal-controls">
						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="dea_number">DEA #</label>
							<%= f.text_field :dea_number, class: 'phx-form-control' %>
						</div>

						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="npi_number">NPI #</label>
							<%= f.text_field :npi_number, class: 'phx-form-control' %>
						</div>
					</div>

					<%= phx_checkbox_for f, :erx_eligibility , "ERx Eligibility" %>
</br>

					<div class="row phx-two-horizontal-controls">
						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="surescripts_erx_id">Surescripts ERx</label>
							<%= f.text_field :surescripts_erx_id, class: 'phx-form-control' %>
						</div>

						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="emdeon_erx_id">Emdeon ERx</label>
							<%= f.text_field :emdeon_erx_id, class: 'phx-form-control' %>
						</div>
					</div>

					<div class="row phx-two-horizontal-controls">
						<%= phx_checkbox_for f, :allowed_to_prescribe_narcotics , "Narcotics Allowed" %>

						<%= phx_checkbox_for f, :allowed_to_prescribe_controlled , "Controlled Is Allowed" %>
					</div>

					<%= phx_checkbox_for f, :requires_supervisor , "Supervisor Required" %>


                    <div class="phx-input-control-spacer">&nbsp;</div>

				</div> <!-- end of container fluid for Primary Info -->

			</div> <!-- end of Primary Info col lg def -->

			<div class="col-lg-8">

				<!-- Tab labels -->
				<ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#prescriberPanel-supervisors" role="tab" data-toggle="tab">Supervisors</a></li>
                    <li><a href="#prescriberPanel-supervisees" role="tab" data-toggle="tab">Being Supervised</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content phx-tab-pane">

					<div class="tab-pane active" id="prescriberPanel-supervisors">

						<div class="row container-fluid">

                            <!-- Supervisors, first column -->
                            <div class="container-fluid col-md-12">

</br>
                                    <% choice = 0 %>
                                    <table class="phx-table phx-search-font">
                                        <thead class="phx-table-head">
                                            <tr>
                                                <th style="background-color:#f9f9fa;" class="col-md-2">Last Name</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-2">First Name</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-3">Address Line 1</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-1">City</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-1">State</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-2">DEA #</th>
                                                <th style="background-color:#f9f9fa;" class="col-md-1">Remove</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <% @prescriber.supervisors.each do |ff| %>
                                                <tr class="phx-table-detail" id="compound_ingredient_<%=choice += 1%>">
                                                    <td style="width:10px;"><%= ff.last_name %></td>
                                                    <td style="width:10px;"><%= ff.first_name %></td>
                                                    <td style="width:10px;"><%= ff.address1 %></td>
                                                    <td style="width:10px;"><%= ff.city %></td>
                                                    <td style="width:10px;"><%= ff.state %></td>
                                                    <td style="width:10px;"><%= ff.dea_number %></td>
                                                    <td>
                                                        <%= f.check_box :remove_supervision,{label:""} %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
</br>
</br>
<%= phx_red_submit_button_for f, "Add Supervisor", ["Add","Add"], "supervisor-add", "phx-btn-model-control-width pull-left", false %>
<%= phx_red_submit_button_for f, "Remove Supervisor", ["Remove","Remove"], "supervisor-remove", "phx-btn-model-control-width pull-right", false %>
</br>
</br>
</br>

                               </div> <!-- end of panel 1, 1st column -->

</div>
</div>

   					<div class="tab-pane" id="prescriberPanel-supervisees">

   						<div class="row container-fluid">

                               <!-- Supervisors, first column -->
                               <div class="container-fluid col-md-12">

</br>
                                       <% choice = 0 %>
                                       <table class="phx-table phx-search-font">
                                           <thead class="phx-table-head">
                                               <tr>
                                                   <th style="background-color:#f9f9fa;" class="col-md-2">Last Name</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-2">First Name</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-3">Address Line 1</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-1">City</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-1">State</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-2">DEA #</th>
                                                   <th style="background-color:#f9f9fa;" class="col-md-1">&nbsp;</th>
                                               </tr>
                                           </thead>
                                           <tbody>
                                               <% @prescriber.supervisees.each do |ff| %>
                                                   <tr class="phx-table-detail" id="compound_ingredient_<%=choice += 1%>">
                                                       <td style="width:10px;"><%= ff.last_name %></td>
                                                       <td style="width:10px;"><%= ff.first_name %></td>
                                                       <td style="width:10px;"><%= ff.address1 %></td>
                                                       <td style="width:10px;"><%= ff.city %></td>
                                                       <td style="width:10px;"><%= ff.state %></td>
                                                       <td style="width:10px;"><%= ff.dea_number %></td>
                                                       <td>
                                                           <%= f.check_box :remove_supervision,{label:""} %>
                                                       </td>
                                                   </tr>
                                               <% end %>
                                           </tbody>
                                       </table>
                                   </br>
</br>
<%= phx_red_submit_button_for f, "Add Supervisee", ["Add","Add"], "supervisee-add", "phx-btn-model-control-width pull-left", false %>
<%= phx_red_submit_button_for f, "Remove Supervisee", ["Remove","Remove"], "supervisee-remove", "phx-btn-model-control-width pull-right", false %>
</br>
</br>
</br>
                                  </div> <!-- end of panel 1, 2nd column -->
</br>

							</div> <!-- END OF first panel -->

						</div> <!-- END OF GENERAL INFO panel container-fluid -->

					</div>
				</div> <!-- end of col lg 10 -->
			</div>
		</div>
	</div>
</div>

<div id="prescriber_search_modal_partial">
    <div id="prescriberSearchModal">
    </div>
</div>

<% end %>

<script>

function getPrescriber() {
        window.location.replace( "/prescriber/" + $("#prescriber_id").val() );
}


$('#prescriber_last_name').on("keypress", function(e) {
    var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;
    if(key == 13) {
        // register the callback to save the information based
        // on the change to search item id
        $.get( "/prescriber/nextPrescribers?start="+$('#prescriber_last_name').val(),
            function( data ) {
                $('#search_prescriber_id').change( function(e) {
debugger;
                    $('#hidden_prescriber_id').val( $('#search_prescriber_id').val() );
                    window.location.replace( "/prescribers/" + $("#hidden_prescriber_id").val() );
                    });
            });
        return false;
        }
});



//<%# bind selection event in the search back to a handler here %>
$('#prescriber_search_modal_partial').on('shown.bs.modal', function () {
    // unbind any prior search events - prevents multiple handlers for the same search modal
    $( document ).off( "phx-selected-prescriber" );

    // bind the handler to the custom event
    $( document ).on( "phx-selected-prescriber",
        function( event, selected_id, selected_name ) {
            //<%# custom code that utilizes the results of the search goes below: %>
            $('#prescriber_id').val( selected_id );
            window.location.replace( "/prescribers/" + $("#prescriber_id").val() );
    });
})


</script>
