<%= simple_form_for(@plan_requirement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dept_number %>
    <%= f.input :rna_plan_id_code %>
    <%= f.input :bin_number %>
    <%= f.input :processor_control_number %>
    <%= f.input :version_number %>
    <%= f.input :software_id %>
    <%= f.input :provider_id_qualifier %>
    <%= f.input :provider_id_number %>
    <%= f.input :otc_ingredients_on_compound %>
    <%= f.input :bundle_claims %>
    <%= f.input :copay_assist_plan %>
    <%= f.input :use_facility_segment %>
    <%= f.input :use_prescriber_segment %>
    <%= f.input :use_prior_authorization_segment %>
    <%= f.input :use_coordination_of_benefits_segment %>
    <%= f.input :use_compound_segment %>
    <%= f.input :use_drug_utilization_review_segment %>
    <%= f.input :use_clinical_segment %>
    <%= f.input :use_coupon_segment %>
    <%= f.input :use_workers_compensation_segment %>
    <%= f.input :patient_birthdate %>
    <%= f.input :patient_gender %>
    <%= f.input :patient_first_name %>
    <%= f.input :patient_last_name %>
    <%= f.input :patient_address %>
    <%= f.input :patient_city %>
    <%= f.input :patient_state %>
    <%= f.input :patient_zip_code %>
    <%= f.input :patient_phone %>
    <%= f.input :patient_residence_code %>
    <%= f.input :patient_location_code %>
    <%= f.input :patient_smoker %>
    <%= f.input :patient_pregnant %>
    <%= f.input :patient_email %>
    <%= f.input :patient_employer_id %>
    <%= f.input :patient_universal_id %>
    <%= f.input :cardholder_id_number %>
    <%= f.input :group_id_number %>
    <%= f.input :plan_id_number %>
    <%= f.input :person_code %>
    <%= f.input :cardholder_first_name %>
    <%= f.input :cardholder_last_name %>
    <%= f.input :relationship_code %>
    <%= f.input :home_plan %>
    <%= f.input :eligibility_code %>
    <%= f.input :facility_id_number %>
    <%= f.input :medigap_indicator %>
    <%= f.input :assignment_indicator %>
    <%= f.input :partd_indicator %>
    <%= f.input :medicaid_indicator %>
    <%= f.input :medicaid_id_number %>
    <%= f.input :fill_number %>
    <%= f.input :days_supply %>
    <%= f.input :dispense_as_written_code %>
    <%= f.input :quantity_dispensed %>
    <%= f.input :date_written %>
    <%= f.input :refills_prescribed %>
    <%= f.input :origin_code %>
    <%= f.input :compound_indicator %>
    <%= f.input :compound_type %>
    <%= f.input :product_id_number_qualifier %>
    <%= f.input :product_id_number %>
    <%= f.input :route_of_administration %>
    <%= f.input :pharmacy_type %>
    <%= f.input :denial_override_code %>
    <%= f.input :denial_override_count %>
    <%= f.input :quantity_prescribed %>
    <%= f.input :other_coverage %>
    <%= f.input :regular_prior_authorization %>
    <%= f.input :regular_prior_authorization_type %>
    <%= f.input :dispense_status %>
    <%= f.input :intended_quantity %>
    <%= f.input :intended_days_supply %>
    <%= f.input :level_of_service %>
    <%= f.input :unit_of_measure %>
    <%= f.input :unit_dose_indicator %>
    <%= f.input :delay_code %>
    <%= f.input :dea_blank_number %>
    <%= f.input :patient_rx_assignment %>
    <%= f.input :alternate_id_number %>
    <%= f.input :original_product_id_number %>
    <%= f.input :original_quantity_prescribed %>
    <%= f.input :associated_rx_number %>
    <%= f.input :associated_date %>
    <%= f.input :procedure_modifier %>
    <%= f.input :intermediary_type %>
    <%= f.input :intermediary_authorization %>
    <%= f.input :prescriber_id_number_qualifier %>
    <%= f.input :prescriber_first_name %>
    <%= f.input :prescriber_last_name %>
    <%= f.input :prescriber_address %>
    <%= f.input :prescriber_city %>
    <%= f.input :prescriber_state %>
    <%= f.input :prescriber_zip_code %>
    <%= f.input :prescriber_phone_number %>
    <%= f.input :prescriber_location %>
    <%= f.input :primary_prescriber_id_qualifier %>
    <%= f.input :primary_prescriber_last_name %>
    <%= f.input :primary_prescriber_location %>
    <%= f.input :other_payor_count %>
    <%= f.input :other_payor_coverage_type %>
    <%= f.input :other_payor_id_number %>
    <%= f.input :other_payor_date %>
    <%= f.input :other_payor_amount_paid %>
    <%= f.input :other_payor_reject_count %>
    <%= f.input :other_payor_reject_code %>
    <%= f.input :other_payor_patient_amount_count %>
    <%= f.input :other_payor_patient_amount_qualifier %>
    <%= f.input :other_payor_patient_amount %>
    <%= f.input :other_payor_benefit_count %>
    <%= f.input :other_payor_benefit_qualifier %>
    <%= f.input :other_payor_benefit_amount %>
    <%= f.input :other_payor_control_number %>
    <%= f.input :dur_counter %>
    <%= f.input :dur_reason_code %>
    <%= f.input :dur_service_code %>
    <%= f.input :dur_result_code %>
    <%= f.input :dur_effort_code %>
    <%= f.input :dur_coagent %>
    <%= f.input :base_cost %>
    <%= f.input :dispensing_fee %>
    <%= f.input :service_fee %>
    <%= f.input :copay %>
    <%= f.input :incentive_fee %>
    <%= f.input :other_amount %>
    <%= f.input :flat_tax_amount %>
    <%= f.input :pct_tax_amount %>
    <%= f.input :tax_rate %>
    <%= f.input :tax_basis %>
    <%= f.input :usual_customary_price %>
    <%= f.input :amount_due %>
    <%= f.input :basis_of_cost %>
    <%= f.input :price_override %>
    <%= f.input :dosage_form %>
    <%= f.input :dispensing_unit %>
    <%= f.input :route_of_administration %>
    <%= f.input :ingredient_id_number %>
    <%= f.input :ingredient_quantity_dispensed %>
    <%= f.input :ingredient_cost %>
    <%= f.input :ingredient_cost_basis %>
    <%= f.input :ingredient_modifier_count %>
    <%= f.input :ingredient_modifier %>
    <%= f.input :date_of_injury %>
    <%= f.input :employer_name %>
    <%= f.input :employer_address %>
    <%= f.input :employer_city %>
    <%= f.input :employer_state %>
    <%= f.input :employer_zip_code %>
    <%= f.input :employer_phone %>
    <%= f.input :employer_contact %>
    <%= f.input :carrier_id_number %>
    <%= f.input :employer_reference_id %>
    <%= f.input :employer_type %>
    <%= f.input :pay_to_qualifier %>
    <%= f.input :pay_to_id_number %>
    <%= f.input :pay_to_name %>
    <%= f.input :pay_to_address %>
    <%= f.input :pay_to_city %>
    <%= f.input :pay_to_state %>
    <%= f.input :pay_to_zip_code %>
    <%= f.input :general_id_qualifier %>
    <%= f.input :general_id_number %>
    <%= f.input :request_type %>
    <%= f.input :request_begin_date %>
    <%= f.input :request_end_date %>
    <%= f.input :request_basis %>
    <%= f.input :representative_first_name %>
    <%= f.input :representative_last_name %>
    <%= f.input :representative_address %>
    <%= f.input :representative_city %>
    <%= f.input :representative_state %>
    <%= f.input :representative_zip_code %>
    <%= f.input :prior_authorization_assigned %>
    <%= f.input :prior_authorization_number %>
    <%= f.input :prior_authorization_prescriber %>
    <%= f.input :diagnosis_count %>
    <%= f.input :diagnosis_code %>
    <%= f.input :clinical_count %>
    <%= f.input :clinical_date %>
    <%= f.input :clinical_time %>
    <%= f.input :clinical_dimension %>
    <%= f.input :clinical_unit %>
    <%= f.input :clinical_value %>
    <%= f.input :coupon_type %>
    <%= f.input :coupon_number %>
    <%= f.input :coupon_amount %>
    <%= f.input :secondary_provider_id_qualifier %>
    <%= f.input :secondary_provider_id_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
