<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @plan_requirement.dept_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @plan_requirement.rna_plan_id_code %>
</p>

<p>
  <strong>Bin number:</strong>
  <%= @plan_requirement.bin_number %>
</p>

<p>
  <strong>Processor control number:</strong>
  <%= @plan_requirement.processor_control_number %>
</p>

<p>
  <strong>Version number:</strong>
  <%= @plan_requirement.version_number %>
</p>

<p>
  <strong>Software:</strong>
  <%= @plan_requirement.software_id %>
</p>

<p>
  <strong>Provider id qualifier:</strong>
  <%= @plan_requirement.provider_id_qualifier %>
</p>

<p>
  <strong>Provider id number:</strong>
  <%= @plan_requirement.provider_id_number %>
</p>

<p>
  <strong>Otc ingredients on compound:</strong>
  <%= @plan_requirement.otc_ingredients_on_compound %>
</p>

<p>
  <strong>Bundle claims:</strong>
  <%= @plan_requirement.bundle_claims %>
</p>

<p>
  <strong>Copay assist plan:</strong>
  <%= @plan_requirement.copay_assist_plan %>
</p>

<p>
  <strong>Use facility segment:</strong>
  <%= @plan_requirement.use_facility_segment %>
</p>

<p>
  <strong>Use prescriber segment:</strong>
  <%= @plan_requirement.use_prescriber_segment %>
</p>

<p>
  <strong>Use prior authorization segment:</strong>
  <%= @plan_requirement.use_prior_authorization_segment %>
</p>

<p>
  <strong>Use coordination of benefits segment:</strong>
  <%= @plan_requirement.use_coordination_of_benefits_segment %>
</p>

<p>
  <strong>Use compound segment:</strong>
  <%= @plan_requirement.use_compound_segment %>
</p>

<p>
  <strong>Use drug utilization review segment:</strong>
  <%= @plan_requirement.use_drug_utilization_review_segment %>
</p>

<p>
  <strong>Use clinical segment:</strong>
  <%= @plan_requirement.use_clinical_segment %>
</p>

<p>
  <strong>Use coupon segment:</strong>
  <%= @plan_requirement.use_coupon_segment %>
</p>

<p>
  <strong>Use workers compensation segment:</strong>
  <%= @plan_requirement.use_workers_compensation_segment %>
</p>

<p>
  <strong>Patient birthdate:</strong>
  <%= @plan_requirement.patient_birthdate %>
</p>

<p>
  <strong>Patient gender:</strong>
  <%= @plan_requirement.patient_gender %>
</p>

<p>
  <strong>Patient first name:</strong>
  <%= @plan_requirement.patient_first_name %>
</p>

<p>
  <strong>Patient last name:</strong>
  <%= @plan_requirement.patient_last_name %>
</p>

<p>
  <strong>Patient address:</strong>
  <%= @plan_requirement.patient_address %>
</p>

<p>
  <strong>Patient city:</strong>
  <%= @plan_requirement.patient_city %>
</p>

<p>
  <strong>Patient state:</strong>
  <%= @plan_requirement.patient_state %>
</p>

<p>
  <strong>Patient zip code:</strong>
  <%= @plan_requirement.patient_zip_code %>
</p>

<p>
  <strong>Patient phone:</strong>
  <%= @plan_requirement.patient_phone %>
</p>

<p>
  <strong>Patient residence code:</strong>
  <%= @plan_requirement.patient_residence_code %>
</p>

<p>
  <strong>Patient location code:</strong>
  <%= @plan_requirement.patient_location_code %>
</p>

<p>
  <strong>Patient smoker:</strong>
  <%= @plan_requirement.patient_smoker %>
</p>

<p>
  <strong>Patient pregnant:</strong>
  <%= @plan_requirement.patient_pregnant %>
</p>

<p>
  <strong>Patient email:</strong>
  <%= @plan_requirement.patient_email %>
</p>

<p>
  <strong>Patient employer:</strong>
  <%= @plan_requirement.patient_employer_id %>
</p>

<p>
  <strong>Patient universal:</strong>
  <%= @plan_requirement.patient_universal_id %>
</p>

<p>
  <strong>Cardholder id number:</strong>
  <%= @plan_requirement.cardholder_id_number %>
</p>

<p>
  <strong>Group id number:</strong>
  <%= @plan_requirement.group_id_number %>
</p>

<p>
  <strong>Plan id number:</strong>
  <%= @plan_requirement.plan_id_number %>
</p>

<p>
  <strong>Person code:</strong>
  <%= @plan_requirement.person_code %>
</p>

<p>
  <strong>Cardholder first name:</strong>
  <%= @plan_requirement.cardholder_first_name %>
</p>

<p>
  <strong>Cardholder last name:</strong>
  <%= @plan_requirement.cardholder_last_name %>
</p>

<p>
  <strong>Relationship code:</strong>
  <%= @plan_requirement.relationship_code %>
</p>

<p>
  <strong>Home plan:</strong>
  <%= @plan_requirement.home_plan %>
</p>

<p>
  <strong>Eligibility code:</strong>
  <%= @plan_requirement.eligibility_code %>
</p>

<p>
  <strong>Facility id number:</strong>
  <%= @plan_requirement.facility_id_number %>
</p>

<p>
  <strong>Medigap indicator:</strong>
  <%= @plan_requirement.medigap_indicator %>
</p>

<p>
  <strong>Assignment indicator:</strong>
  <%= @plan_requirement.assignment_indicator %>
</p>

<p>
  <strong>Partd indicator:</strong>
  <%= @plan_requirement.partd_indicator %>
</p>

<p>
  <strong>Medicaid indicator:</strong>
  <%= @plan_requirement.medicaid_indicator %>
</p>

<p>
  <strong>Medicaid id number:</strong>
  <%= @plan_requirement.medicaid_id_number %>
</p>

<p>
  <strong>Fill number:</strong>
  <%= @plan_requirement.fill_number %>
</p>

<p>
  <strong>Days supply:</strong>
  <%= @plan_requirement.days_supply %>
</p>

<p>
  <strong>Dispense as written code:</strong>
  <%= @plan_requirement.dispense_as_written_code %>
</p>

<p>
  <strong>Quantity dispensed:</strong>
  <%= @plan_requirement.quantity_dispensed %>
</p>

<p>
  <strong>Date written:</strong>
  <%= @plan_requirement.date_written %>
</p>

<p>
  <strong>Refills prescribed:</strong>
  <%= @plan_requirement.refills_prescribed %>
</p>

<p>
  <strong>Origin code:</strong>
  <%= @plan_requirement.origin_code %>
</p>

<p>
  <strong>Compound indicator:</strong>
  <%= @plan_requirement.compound_indicator %>
</p>

<p>
  <strong>Compound type:</strong>
  <%= @plan_requirement.compound_type %>
</p>

<p>
  <strong>Product id number qualifier:</strong>
  <%= @plan_requirement.product_id_number_qualifier %>
</p>

<p>
  <strong>Product id number:</strong>
  <%= @plan_requirement.product_id_number %>
</p>

<p>
  <strong>Route of administration:</strong>
  <%= @plan_requirement.route_of_administration %>
</p>

<p>
  <strong>Pharmacy type:</strong>
  <%= @plan_requirement.pharmacy_type %>
</p>

<p>
  <strong>Denial override code:</strong>
  <%= @plan_requirement.denial_override_code %>
</p>

<p>
  <strong>Denial override count:</strong>
  <%= @plan_requirement.denial_override_count %>
</p>

<p>
  <strong>Quantity prescribed:</strong>
  <%= @plan_requirement.quantity_prescribed %>
</p>

<p>
  <strong>Other coverage:</strong>
  <%= @plan_requirement.other_coverage %>
</p>

<p>
  <strong>Regular prior authorization:</strong>
  <%= @plan_requirement.regular_prior_authorization %>
</p>

<p>
  <strong>Regular prior authorization type:</strong>
  <%= @plan_requirement.regular_prior_authorization_type %>
</p>

<p>
  <strong>Dispense status:</strong>
  <%= @plan_requirement.dispense_status %>
</p>

<p>
  <strong>Intended quantity:</strong>
  <%= @plan_requirement.intended_quantity %>
</p>

<p>
  <strong>Intended days supply:</strong>
  <%= @plan_requirement.intended_days_supply %>
</p>

<p>
  <strong>Level of service:</strong>
  <%= @plan_requirement.level_of_service %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @plan_requirement.unit_of_measure %>
</p>

<p>
  <strong>Unit dose indicator:</strong>
  <%= @plan_requirement.unit_dose_indicator %>
</p>

<p>
  <strong>Delay code:</strong>
  <%= @plan_requirement.delay_code %>
</p>

<p>
  <strong>Dea blank number:</strong>
  <%= @plan_requirement.dea_blank_number %>
</p>

<p>
  <strong>Patient rx assignment:</strong>
  <%= @plan_requirement.patient_rx_assignment %>
</p>

<p>
  <strong>Alternate id number:</strong>
  <%= @plan_requirement.alternate_id_number %>
</p>

<p>
  <strong>Original product id number:</strong>
  <%= @plan_requirement.original_product_id_number %>
</p>

<p>
  <strong>Original quantity prescribed:</strong>
  <%= @plan_requirement.original_quantity_prescribed %>
</p>

<p>
  <strong>Associated rx number:</strong>
  <%= @plan_requirement.associated_rx_number %>
</p>

<p>
  <strong>Associated date:</strong>
  <%= @plan_requirement.associated_date %>
</p>

<p>
  <strong>Procedure modifier:</strong>
  <%= @plan_requirement.procedure_modifier %>
</p>

<p>
  <strong>Intermediary type:</strong>
  <%= @plan_requirement.intermediary_type %>
</p>

<p>
  <strong>Intermediary authorization:</strong>
  <%= @plan_requirement.intermediary_authorization %>
</p>

<p>
  <strong>Prescriber id number qualifier:</strong>
  <%= @plan_requirement.prescriber_id_number_qualifier %>
</p>

<p>
  <strong>Prescriber first name:</strong>
  <%= @plan_requirement.prescriber_first_name %>
</p>

<p>
  <strong>Prescriber last name:</strong>
  <%= @plan_requirement.prescriber_last_name %>
</p>

<p>
  <strong>Prescriber address:</strong>
  <%= @plan_requirement.prescriber_address %>
</p>

<p>
  <strong>Prescriber city:</strong>
  <%= @plan_requirement.prescriber_city %>
</p>

<p>
  <strong>Prescriber state:</strong>
  <%= @plan_requirement.prescriber_state %>
</p>

<p>
  <strong>Prescriber zip code:</strong>
  <%= @plan_requirement.prescriber_zip_code %>
</p>

<p>
  <strong>Prescriber phone number:</strong>
  <%= @plan_requirement.prescriber_phone_number %>
</p>

<p>
  <strong>Prescriber location:</strong>
  <%= @plan_requirement.prescriber_location %>
</p>

<p>
  <strong>Primary prescriber id qualifier:</strong>
  <%= @plan_requirement.primary_prescriber_id_qualifier %>
</p>

<p>
  <strong>Primary prescriber last name:</strong>
  <%= @plan_requirement.primary_prescriber_last_name %>
</p>

<p>
  <strong>Primary prescriber location:</strong>
  <%= @plan_requirement.primary_prescriber_location %>
</p>

<p>
  <strong>Other payor count:</strong>
  <%= @plan_requirement.other_payor_count %>
</p>

<p>
  <strong>Other payor coverage type:</strong>
  <%= @plan_requirement.other_payor_coverage_type %>
</p>

<p>
  <strong>Other payor id number:</strong>
  <%= @plan_requirement.other_payor_id_number %>
</p>

<p>
  <strong>Other payor date:</strong>
  <%= @plan_requirement.other_payor_date %>
</p>

<p>
  <strong>Other payor amount paid:</strong>
  <%= @plan_requirement.other_payor_amount_paid %>
</p>

<p>
  <strong>Other payor reject count:</strong>
  <%= @plan_requirement.other_payor_reject_count %>
</p>

<p>
  <strong>Other payor reject code:</strong>
  <%= @plan_requirement.other_payor_reject_code %>
</p>

<p>
  <strong>Other payor patient amount count:</strong>
  <%= @plan_requirement.other_payor_patient_amount_count %>
</p>

<p>
  <strong>Other payor patient amount qualifier:</strong>
  <%= @plan_requirement.other_payor_patient_amount_qualifier %>
</p>

<p>
  <strong>Other payor patient amount:</strong>
  <%= @plan_requirement.other_payor_patient_amount %>
</p>

<p>
  <strong>Other payor benefit count:</strong>
  <%= @plan_requirement.other_payor_benefit_count %>
</p>

<p>
  <strong>Other payor benefit qualifier:</strong>
  <%= @plan_requirement.other_payor_benefit_qualifier %>
</p>

<p>
  <strong>Other payor benefit amount:</strong>
  <%= @plan_requirement.other_payor_benefit_amount %>
</p>

<p>
  <strong>Other payor control number:</strong>
  <%= @plan_requirement.other_payor_control_number %>
</p>

<p>
  <strong>Dur counter:</strong>
  <%= @plan_requirement.dur_counter %>
</p>

<p>
  <strong>Dur reason code:</strong>
  <%= @plan_requirement.dur_reason_code %>
</p>

<p>
  <strong>Dur service code:</strong>
  <%= @plan_requirement.dur_service_code %>
</p>

<p>
  <strong>Dur result code:</strong>
  <%= @plan_requirement.dur_result_code %>
</p>

<p>
  <strong>Dur effort code:</strong>
  <%= @plan_requirement.dur_effort_code %>
</p>

<p>
  <strong>Dur coagent:</strong>
  <%= @plan_requirement.dur_coagent %>
</p>

<p>
  <strong>Base cost:</strong>
  <%= @plan_requirement.base_cost %>
</p>

<p>
  <strong>Dispensing fee:</strong>
  <%= @plan_requirement.dispensing_fee %>
</p>

<p>
  <strong>Service fee:</strong>
  <%= @plan_requirement.service_fee %>
</p>

<p>
  <strong>Copay:</strong>
  <%= @plan_requirement.copay %>
</p>

<p>
  <strong>Incentive fee:</strong>
  <%= @plan_requirement.incentive_fee %>
</p>

<p>
  <strong>Other amount:</strong>
  <%= @plan_requirement.other_amount %>
</p>

<p>
  <strong>Flat tax amount:</strong>
  <%= @plan_requirement.flat_tax_amount %>
</p>

<p>
  <strong>Pct tax amount:</strong>
  <%= @plan_requirement.pct_tax_amount %>
</p>

<p>
  <strong>Tax rate:</strong>
  <%= @plan_requirement.tax_rate %>
</p>

<p>
  <strong>Tax basis:</strong>
  <%= @plan_requirement.tax_basis %>
</p>

<p>
  <strong>Usual customary price:</strong>
  <%= @plan_requirement.usual_customary_price %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @plan_requirement.amount_due %>
</p>

<p>
  <strong>Basis of cost:</strong>
  <%= @plan_requirement.basis_of_cost %>
</p>

<p>
  <strong>Price override:</strong>
  <%= @plan_requirement.price_override %>
</p>

<p>
  <strong>Dosage form:</strong>
  <%= @plan_requirement.dosage_form %>
</p>

<p>
  <strong>Dispensing unit:</strong>
  <%= @plan_requirement.dispensing_unit %>
</p>

<p>
  <strong>Route of administration:</strong>
  <%= @plan_requirement.route_of_administration %>
</p>

<p>
  <strong>Ingredient id number:</strong>
  <%= @plan_requirement.ingredient_id_number %>
</p>

<p>
  <strong>Ingredient quantity dispensed:</strong>
  <%= @plan_requirement.ingredient_quantity_dispensed %>
</p>

<p>
  <strong>Ingredient cost:</strong>
  <%= @plan_requirement.ingredient_cost %>
</p>

<p>
  <strong>Ingredient cost basis:</strong>
  <%= @plan_requirement.ingredient_cost_basis %>
</p>

<p>
  <strong>Ingredient modifier count:</strong>
  <%= @plan_requirement.ingredient_modifier_count %>
</p>

<p>
  <strong>Ingredient modifier:</strong>
  <%= @plan_requirement.ingredient_modifier %>
</p>

<p>
  <strong>Date of injury:</strong>
  <%= @plan_requirement.date_of_injury %>
</p>

<p>
  <strong>Employer name:</strong>
  <%= @plan_requirement.employer_name %>
</p>

<p>
  <strong>Employer address:</strong>
  <%= @plan_requirement.employer_address %>
</p>

<p>
  <strong>Employer city:</strong>
  <%= @plan_requirement.employer_city %>
</p>

<p>
  <strong>Employer state:</strong>
  <%= @plan_requirement.employer_state %>
</p>

<p>
  <strong>Employer zip code:</strong>
  <%= @plan_requirement.employer_zip_code %>
</p>

<p>
  <strong>Employer phone:</strong>
  <%= @plan_requirement.employer_phone %>
</p>

<p>
  <strong>Employer contact:</strong>
  <%= @plan_requirement.employer_contact %>
</p>

<p>
  <strong>Carrier id number:</strong>
  <%= @plan_requirement.carrier_id_number %>
</p>

<p>
  <strong>Employer reference:</strong>
  <%= @plan_requirement.employer_reference_id %>
</p>

<p>
  <strong>Employer type:</strong>
  <%= @plan_requirement.employer_type %>
</p>

<p>
  <strong>Pay to qualifier:</strong>
  <%= @plan_requirement.pay_to_qualifier %>
</p>

<p>
  <strong>Pay to id number:</strong>
  <%= @plan_requirement.pay_to_id_number %>
</p>

<p>
  <strong>Pay to name:</strong>
  <%= @plan_requirement.pay_to_name %>
</p>

<p>
  <strong>Pay to address:</strong>
  <%= @plan_requirement.pay_to_address %>
</p>

<p>
  <strong>Pay to city:</strong>
  <%= @plan_requirement.pay_to_city %>
</p>

<p>
  <strong>Pay to state:</strong>
  <%= @plan_requirement.pay_to_state %>
</p>

<p>
  <strong>Pay to zip code:</strong>
  <%= @plan_requirement.pay_to_zip_code %>
</p>

<p>
  <strong>General id qualifier:</strong>
  <%= @plan_requirement.general_id_qualifier %>
</p>

<p>
  <strong>General id number:</strong>
  <%= @plan_requirement.general_id_number %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @plan_requirement.request_type %>
</p>

<p>
  <strong>Request begin date:</strong>
  <%= @plan_requirement.request_begin_date %>
</p>

<p>
  <strong>Request end date:</strong>
  <%= @plan_requirement.request_end_date %>
</p>

<p>
  <strong>Request basis:</strong>
  <%= @plan_requirement.request_basis %>
</p>

<p>
  <strong>Representative first name:</strong>
  <%= @plan_requirement.representative_first_name %>
</p>

<p>
  <strong>Representative last name:</strong>
  <%= @plan_requirement.representative_last_name %>
</p>

<p>
  <strong>Representative address:</strong>
  <%= @plan_requirement.representative_address %>
</p>

<p>
  <strong>Representative city:</strong>
  <%= @plan_requirement.representative_city %>
</p>

<p>
  <strong>Representative state:</strong>
  <%= @plan_requirement.representative_state %>
</p>

<p>
  <strong>Representative zip code:</strong>
  <%= @plan_requirement.representative_zip_code %>
</p>

<p>
  <strong>Prior authorization assigned:</strong>
  <%= @plan_requirement.prior_authorization_assigned %>
</p>

<p>
  <strong>Prior authorization number:</strong>
  <%= @plan_requirement.prior_authorization_number %>
</p>

<p>
  <strong>Prior authorization prescriber:</strong>
  <%= @plan_requirement.prior_authorization_prescriber %>
</p>

<p>
  <strong>Diagnosis count:</strong>
  <%= @plan_requirement.diagnosis_count %>
</p>

<p>
  <strong>Diagnosis code:</strong>
  <%= @plan_requirement.diagnosis_code %>
</p>

<p>
  <strong>Clinical count:</strong>
  <%= @plan_requirement.clinical_count %>
</p>

<p>
  <strong>Clinical date:</strong>
  <%= @plan_requirement.clinical_date %>
</p>

<p>
  <strong>Clinical time:</strong>
  <%= @plan_requirement.clinical_time %>
</p>

<p>
  <strong>Clinical dimension:</strong>
  <%= @plan_requirement.clinical_dimension %>
</p>

<p>
  <strong>Clinical unit:</strong>
  <%= @plan_requirement.clinical_unit %>
</p>

<p>
  <strong>Clinical value:</strong>
  <%= @plan_requirement.clinical_value %>
</p>

<p>
  <strong>Coupon type:</strong>
  <%= @plan_requirement.coupon_type %>
</p>

<p>
  <strong>Coupon number:</strong>
  <%= @plan_requirement.coupon_number %>
</p>

<p>
  <strong>Coupon amount:</strong>
  <%= @plan_requirement.coupon_amount %>
</p>

<p>
  <strong>Secondary provider id qualifier:</strong>
  <%= @plan_requirement.secondary_provider_id_qualifier %>
</p>

<p>
  <strong>Secondary provider id number:</strong>
  <%= @plan_requirement.secondary_provider_id_number %>
</p>

<%= link_to 'Edit', edit_plan_requirement_path(@plan_requirement) %> |
<%= link_to 'Back', plan_requirements_path %>
