<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @claim_coupon.dept_number %>
</p>

<p>
  <strong>Rx number:</strong>
  <%= @claim_coupon.rx_number %>
</p>

<p>
  <strong>Rna plan id code:</strong>
  <%= @claim_coupon.rna_plan_id_code %>
</p>

<p>
  <strong>Coupon number:</strong>
  <%= @claim_coupon.coupon_number %>
</p>

<p>
  <strong>Coupon type:</strong>
  <%= @claim_coupon.coupon_type %>
</p>

<p>
  <strong>Coupon amount:</strong>
  <%= @claim_coupon.coupon_amount %>
</p>

<%= link_to 'Edit', edit_claim_coupon_path(@claim_coupon) %> |
<%= link_to 'Back', claim_coupons_path %>
