<div class="phx-modal containter-fluid" id="planSearchModal" role="dialog" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h3>Plan Search</h3>
			</div>

			<div class="modal-body">
				<% choice = 0 %>
				<table class="table">
		  		<thead class="phx-search-row-header">
  		  		<tr>
						<th class="phx-search-font"><input type="text" id="planSearchModal_Keys1_9" style="width:0.5px;" ></th>
						<th class="phx-search-font">Plan ID Code</th>
						<th class="phx-search-font">Insurance Plan Name</th>
						<th class="phx-search-font">Bin Number </th>
						<th class="phx-search-font">Processor Control Number</th>
						<th class="phx-search-font">Plan Type</th>
						<th class="phx-search-font">Active<th>
		  		</tr>
  				</thead>

		  		<tbody>
						<% searchPlans.each do |plan| %>

							<% planSearchRowId = "planRow" + (choice += 1).to_s %>
							<tr	id="<%=planSearchRowId%>"
									class="phx-search-row clickable-planRow"
 >

								<td class="phx-search-font"> <%= choice %> </td>
								<td class="phx-search-font"> <%= plan.plan_id_code %> </td>
								<td class="phx-search-font"> <%= plan.insurance_plan_name %> </td>
								<td class="phx-search-font"> <%= plan.bin_number %> </td>
								<td class="phx-search-font"> <%= plan.processor_control_number %> </td>
								<td class="phx-search-font"> <%= plan.plan_type ? "Yes" : "No" %> </td>
								<td class="phx-search-font"> <%= plan.active%> </td>
							</tr>
						<% end %> <!-- END OF plan list -->
 			 		</tbody>
				</table>
			</div> <!-- end of modal-body -->

			</br>

			<div class="modal-footer">
				<%=	paginate searchPlans,
						params: { controller: "plans", action: "search"} , remote: true  unless searchPlans.empty? %>


				<button id="plan_modal_close_btn"
						class="btn btn-sm btn-default phx-btn-model-control-red"
						data-dismiss="modal"
						aria-hidden="true">
						Close</button>
			</div>

		</div>  <!-- end of modal-content -->

	</div>  <!-- end of modal-dialog -->

	<script>

		//<%# signal that a search selection has been made, and provide the ID and Name %>
		//<%# the calling view MUST define the "phx-selected-plan" custom event  %>
		function triggerSearchSelection( selectedSearchPlan ) {
			$( document ).trigger( "phx-selected-plan",
										[ selectedSearchPlan.data("phxSearchId"),
										  selectedSearchPlan.data("phxSearchPlanName"),
										  selectedSearchPlan.data("phxSearchPlanNdcNumber") ] );
			$('#plan_modal_close_btn').trigger("click");
			}

		// handle a click event on any of the search rows
		$(".clickable-planRow").click(function() {
			// send the jQuery version of "this"
			triggerSearchSelection( $(this) );
			});

		// handle a number selection on the search
		$('#planSearchModal_Keys1_9').on("keypress", function(e) {
				var key = e.charCode ? e.charCode : e.keyCode ? e.keyCode : 0;

				if( key >= 48 && key <= 57 ) {
						triggerSearchSelection( $("#planRow" + (key-48).toString()) );
						return false; }
				if (key == 27) { $("#planSearchModal_close_btn").trigger("click"); return false; }
				if (key == 43) { $("#createNewPlanButton").trigger("click"); return false; }
			});

	</script>

</div>
