<div id="priceScheduleSearchModal" class="phx-modal containter-fluid" role="dialog" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<h3>Pric Schedule Search</h3>
			</div>

			<div class="modal-body">
				<% choice = 0 %>
				<table class="table">
		  		<thead class="phx-search-row-header">
  		  		<tr>
						<th class="phx-search-font"><input type="text" id="priceScheduleSearchModal_Keys1_9" style="width:0.5px;" ></th>
						<th class="phx-search-font">Name</th>
						<th class="phx-search-font">Number</th>
						<th class="phx-search-font">Basis</th>
						<th class="phx-search-font">Type</th>
						<th class="phx-search-font">Qualifier</th>
		  		</tr>
  				</thead>

		  		<tbody>
						<% searchPriceSchedules.each do |priceSchedule| %>
							<tr	id="<%= 'priceScheduleSearchModal-row' + (choice += 1).to_s %>"
								class="phx-search-row clickable-priceScheduleSearchModal-row"
								data-phx-search-price_schedule-id="<%= priceSchedule.id %>"
								data-phx-search-price_schedule-name="<%= priceSchedule.display_name %>"
								data-phx-search-price_schedule-number="<%= priceSchedule.number %>" >

								<td class="phx-search-font"> <%= choice %> </td>
								<td class="phx-search-font"> <%= priceSchedule.name %> </td>
								<td class="phx-search-font"> <%= priceSchedule.number %> </td>
								<td class="phx-search-font"> <%= priceSchedule.basis %> </td>
								<td class="phx-search-font"> <%= priceSchedule.break_type %> </td>
								<td class="phx-search-font"> <%= priceSchedule.qualifier %> </td>
							</tr>
						<% end %> <!-- END OF priceSchedule list -->
 			 		</tbody>
				</table>
			</div> <!-- end of modal-body -->

			</br>

			<div class="modal-footer">
				<%=	paginate searchPriceSchedules,
						params: { controller: "price_schedules", action: "nextPriceSchedules"} , remote: true  unless searchPriceSchedules.empty? %>

				<button id="priceScheduleSearchModal-close-btn"
						class="btn btn-sm btn-default phx-btn-model-control-red"
						data-dismiss="modal"
						aria-hidden="true">
						Close</button>
			</div>

		</div>  <!-- end of modal-content -->

	</div>  <!-- end of modal-dialog -->

</div>
<script>
$('#price_schedule_search_modal_partial').trigger('contentchanged');
</script>
