<%# prescriber form %>

<%= form_for @prescriber do |f| %>

    <div class="col-lg-10 phx-working-area-background">

		<%# BEGIN Working Area TITLE and NAV %>
		<div class="row span10 phx-working-area-nav">

			<div class="col-xs-1 phx-hamburger-box">
				<button class="phx-hamburger">|||</button>
			</div>

			<%# BEGIN Working Area TITLE %>
			<div class="phx-working-area-title-info">
				<row>
					<div class="col-lg-8">
						<div class="phx-working-area-title">Prescriber Maintenance
							<% if @prescriber.display_name %>
								<span style="font-weight:font-weight: bold;bold;" id="prescriberDisplayName">
									&nbsp;&nbsp;|&nbsp;&nbsp;<%= @prescriber.display_name %>
						      	</span>
							<% end %>
						</div>
					</div>
					<div class="col-lg-3 phx-working-area-title-buttons">
					</div>
				</row>
			</div> <%# END of Working Area TITLE %>

		</div> <%# END of Working Area TITLE and NAV %>

		<%# BEGIN Working Area %>
		<div class="containter-fluid" style="padding-top:30px;">

			<!-- Primary Info -->
			<div class="col-lg-4">

				<div class="phx-primary-info-column">

                    <div class="form-group phx-input-control-spacer" style="margin-top: -8px;"></div>

                    <div class="col-md-12">
                        <div class="col-md-8 pull-left" style="font-weight: bold; font-family:'Arial'; font-size: 18px; margin-left: -20px; margin-top:5px;">
                        Primary Info
                        </div>
                        <%= phx_checkbox_for f, :active, "Active", "col-md-1 pull-right" %>
                    </div>

                    <div class="form-group phx-input-control-spacer" style="margin-bottom: -25px;">&nbsp;</div>

                    <!-- hidden field to grabl the value from the modal -->
					<input type="hidden" value="" name="hidden_prescriber_id" id="hidden_prescriber_id">

                    <%= f.hidden_field :id %>

                    <%= phx_textsearchfield_for f, :last_name, "Last Name" %>

                    <%= phx_textfield_for f, :first_name, "First Name" %>

                    <%= phx_textfield_for f, :middle_name, "Middle Name" %>

                    <%= phx_textfield_for f, :address1, "Address1" %>

                    <%= phx_textfield_for f, :address2, "Address2" %>

                    <%= phx_textfield_for f, :city, "City" %>

					<div class="row phx-two-horizontal-controls">

                        <%= phx_selectfield_for f, :state, "State", phx_us_states(), false, 0, "col-md-6" %>

						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="zip_code">Postal Code</label>
							<%= f.text_field :zip_code, class: 'phx-form-control' %>
						</div>
					</div>

					<div class="row phx-two-horizontal-controls">
						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="dea_number">DEA #</label>
							<%= f.text_field :dea_number, class: 'phx-form-control' %>
						</div>

						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="npi_number">NPI #</label>
							<%= f.text_field :npi_number, class: 'phx-form-control' %>
						</div>
					</div>

					<%= phx_checkbox_for f, :erx_eligibility , "ERx Eligibility" %>

					<div class="row phx-two-horizontal-controls">
						<div class="col-md-6 form-group phx-input-control">
							<label class="phx-form-control-label" for="surescripts_erx_id_number">Surescripts ERx</label>
							<%= f.text_field :surescripts_erx_id_number, class: 'phx-form-control' %>
						</div>

						<!--<div class="col-md-6 form-group phx-input-control">-->
							<!--<label class="phx-form-control-label" for="alternate_erx_id_number">Alternate ERx ID</label>-->
							<!--<%#= f.text_field :alternate_erx_id_number, class: 'phx-form-control' %>-->
						<!--</div>-->
					</div>

					<div class="row phx-two-horizontal-controls">
						<%= phx_checkbox_for f, :allowed_to_prescribe_narcotics , "Narcotics Allowed" %>

						<%= phx_checkbox_for f, :allowed_to_prescribe_controlled , "Controlled Is Allowed" %>

					</div>

					<%= phx_checkbox_for f, :requires_supervisor , "Supervisor Required" %>

</br>
                    <%= phx_red_submit_button_for f, "Prescriber", [], "", "phx-btn-model-control-width pull-right", false %>

                    <div class="field form-group phx-input-control-spacer">&nbsp;
</br>
                    </div>

				</div> <!-- end of container fluid for Primary Info -->

			</div> <!-- end of Primary Info col lg def -->

			<div class="col-lg-8">

				<!-- Tab labels -->
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#prescriberPanel-general" role="tab" data-toggle="tab">General Info</a></li>
					<li><a href="#prescriberPanel-alternateId" role="tab" data-toggle="tab">Alternate ID</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content phx-tab-pane">

					<div class="tab-pane active" id="prescriberPanel-general">

						<div class="row container-fluid">
								<!-- GENERAL INFO, first column -->
								<div class="container-fluid col-lg-4">

                  <%= phx_textfield_for f, :facility_number, "Facility Number" %>

                  <%= phx_textfield_for f, :location_code, "Location Code" %>

                  <%= phx_textfield_for f, :specialty, "Specialty" %>

                  <%= phx_textfield_for f, :memo, "Memo" %>

                  <%= phx_textfield_for f, :group_code, "Group Code" %>

                  <%= phx_textarea_for f, :notes, "Notes", 5 %>

								</div> <!-- END OF first panel, first column -->

								<!-- GENERAL INFO panel, second column -->
								<div class="container-fluid col-lg-4">

                  <%#= phx_textfield_for f, :phone, "Office Phone" %>

                  <%#= phx_textfield_for f, :fax_number, "Fax" %>

                  <%#= phx_textfield_for f, :cell_number, "Cell" %>

                  <%#= phx_textfield_for f, :email, "Email" %>

                  <%= phx_selectfield_for f, :receive_messages, "Receive Notifications", Prescriber.receive_messages %>

                  <%= phx_checkbox_for f, :sig_default , "Sig Default" %>

									<%= phx_checkbox_for f, :remote_access , "Remote Access" %>

									<%= phx_checkbox_for f, :participates_in_340b , "Participates 340b" %>

								</div> <!-- END OF GENERAL INFO panel, second ve_messages column -->

								<!-- First panel, third column -->
								<div class="container-fluid col-lg-4">

    							</div> <!-- END OF first panel, third column -->

						</div> <!-- END general panel container-fluid -->
					</div>

					<div class="tab-pane" id="prescriberPanel-alternateId">
						<div class="row container-fluid">
								<!-- PLAN panel, 1st column -->
								<div class="container-fluid col-lg-4">

                  <%= phx_selectfield_for f, :alternate_id1_qualifier, "Alternate qualifier #1", Prescriber.alternate_id1_qualifiers %>
                  <%= phx_selectfield_for f, :alternate_id2_qualifier, "Alternate qualifier #2", Prescriber.alternate_id2_qualifiers %>
                  <%= phx_selectfield_for f, :alternate_id3_qualifier, "Alternate qualifier #3", Prescriber.alternate_id3_qualifiers %>
                  <%= phx_selectfield_for f, :alternate_id4_qualifier, "Alternate qualifier #4", Prescriber.alternate_id4_qualifiers %>

								</div> <!-- END OF SECOND panel, 1st column -->

								<!-- PLAN panel, 2nd column -->
								<div class="container-fluid col-lg-4">
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id1">Alternate ID</label>
										<%= f.text_field :alternate_id1, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id2">Alternate ID</label>
										<%= f.text_field :alternate_id2, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id3">Alternate ID</label>
										<%= f.text_field :alternate_id3, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id4">Alternate ID</label>
										<%= f.text_field :alternate_id4, class: 'phx-form-control' %>
									</div>
								</div> <!-- END OF PLAN panel, second column -->

								<!-- PLAN panel, third column -->
								<div class="container-fluid col-lg-4">
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id1_source">Source</label>
										<%= f.text_field :alternate_id1_source, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id2_source">Source</label>
										<%= f.text_field :alternate_id2_source, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id3_source">Source</label>
										<%= f.text_field :alternate_id3_source, class: 'phx-form-control' %>
									</div>
									<div class="field form-group phx-input-control">
										<label class="phx-form-control-label" for="alternate_id4_source">Source</label>
										<%= f.text_field :alternate_id4_source, class: 'phx-form-control' %>
									</div>
								</div> <!-- END OF PLAN panel, third column -->
						</div> <!-- END OF PLAN panel container-fluid -->
					</div>
				</div> <!-- end of col lg 10 -->
			</div>
		</div>
	</div>
</div>

<div id="prescriber_search_modal_partial">
    <div id="prescriberSearchModal">
    </div>
</div>

<% end %>

<script>
    // -----------------------------
    // PRESCRIBER: define the search
    var prescribsrch = FEENX.Search.NewSearch('prescriber',
        {   context:      '',
            triggerField: 'last_name',
            fieldPrefix:  '',
            modalId:      'prescriberSearchModal',
            hiddenDivId:  'hidden_fields',
            refresh:      true,
            refreshTo:    '/prescribers/' });

    // create the corresponding hidden fields in the form
    prescribsrch.addHiddenFields();
    // create the corresponding data attribues in the modal rows
    prescribsrch.dataFormattedAttributes();

</script>
