<%= simple_form_for(@price_history) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :dept_number %>
    <%= f.input :employee_id_number %>
    <%= f.input :mode %>
    <%= f.input :mechanism %>
    <%= f.input :source %>
    <%= f.input :element_changed %>
    <%= f.input :old_price %>
    <%= f.input :new_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
