<p id="notice"><%= notice %></p>

<p>
  <strong>Dept number:</strong>
  <%= @item.dept_number %>
</p>

<p>
  <strong>Rna item id number:</strong>
  <%= @item.rna_item_id_number %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Ndc number:</strong>
  <%= @item.ndc_number %>
</p>

<p>
  <strong>Scanned ndc number:</strong>
  <%= @item.scanned_ndc_number %>
</p>

<p>
  <strong>Gcnseq number:</strong>
  <%= @item.gcnseq_number %>
</p>

<p>
  <strong>Synonym:</strong>
  <%= @item.synonym %>
</p>

<p>
  <strong>Active flag:</strong>
  <%= @item.active_flag %>
</p>

<p>
  <strong>Dea schedule:</strong>
  <%= @item.dea_schedule %>
</p>

<p>
  <strong>Awp unit price:</strong>
  <%= @item.awp_unit_price %>
</p>

<p>
  <strong>Mac unit price:</strong>
  <%= @item.mac_unit_price %>
</p>

<p>
  <strong>Act unit price:</strong>
  <%= @item.act_unit_price %>
</p>

<p>
  <strong>Wac unit price:</strong>
  <%= @item.wac_unit_price %>
</p>

<p>
  <strong>Govt 340b unit price:</strong>
  <%= @item.govt_340b_unit_price %>
</p>

<p>
  <strong>Custom unit price:</strong>
  <%= @item.custom_unit_price %>
</p>

<p>
  <strong>Awp automatic update:</strong>
  <%= @item.awp_automatic_update %>
</p>

<p>
  <strong>Mac automatic update:</strong>
  <%= @item.mac_automatic_update %>
</p>

<p>
  <strong>Act automatic update:</strong>
  <%= @item.act_automatic_update %>
</p>

<p>
  <strong>Wac automatic update:</strong>
  <%= @item.wac_automatic_update %>
</p>

<p>
  <strong>Govt 340b automatic update:</strong>
  <%= @item.govt_340b_automatic_update %>
</p>

<p>
  <strong>Custom automatic update:</strong>
  <%= @item.custom_automatic_update %>
</p>

<p>
  <strong>Last price update date:</strong>
  <%= @item.last_price_update_date %>
</p>

<p>
  <strong>Schedule number:</strong>
  <%= @item.schedule_number %>
</p>

<p>
  <strong>Quantity schedule number:</strong>
  <%= @item.quantity_schedule_number %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @item.inventory %>
</p>

<p>
  <strong>Quantity on hand:</strong>
  <%= @item.quantity_on_hand %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @item.strength %>
</p>

<p>
  <strong>Package size:</strong>
  <%= @item.package_size %>
</p>

<p>
  <strong>Drug class:</strong>
  <%= @item.drug_class %>
</p>

<p>
  <strong>Item taxable:</strong>
  <%= @item.item_taxable %>
</p>

<p>
  <strong>Dispensing unit:</strong>
  <%= @item.dispensing_unit %>
</p>

<p>
  <strong>State billing code:</strong>
  <%= @item.state_billing_code %>
</p>

<p>
  <strong>Alternate product code:</strong>
  <%= @item.alternate_product_code %>
</p>

<p>
  <strong>Alternate product qualifier:</strong>
  <%= @item.alternate_product_qualifier %>
</p>

<p>
  <strong>Item hcpcs code:</strong>
  <%= @item.item_hcpcs_code %>
</p>

<p>
  <strong>Procedure code:</strong>
  <%= @item.procedure_code %>
</p>

<p>
  <strong>Procedure modifier1:</strong>
  <%= @item.procedure_modifier1 %>
</p>

<p>
  <strong>Procedure modifier2:</strong>
  <%= @item.procedure_modifier2 %>
</p>

<p>
  <strong>Counseling code1:</strong>
  <%= @item.counseling_code1 %>
</p>

<p>
  <strong>Counseling code2:</strong>
  <%= @item.counseling_code2 %>
</p>

<p>
  <strong>Counseling code3:</strong>
  <%= @item.counseling_code3 %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @item.memo %>
</p>

<p>
  <strong>Brand generic compound:</strong>
  <%= @item.brand_generic_compound %>
</p>

<p>
  <strong>Brand generic xref:</strong>
  <%= @item.brand_generic_xref %>
</p>

<p>
  <strong>Fed tax:</strong>
  <%= @item.fed_tax %>
</p>

<p>
  <strong>Unit of measure:</strong>
  <%= @item.unit_of_measure %>
</p>

<p>
  <strong>Erx unit of measure:</strong>
  <%= @item.erx_unit_of_measure %>
</p>

<p>
  <strong>Discard age:</strong>
  <%= @item.discard_age %>
</p>

<p>
  <strong>Remote dispensing:</strong>
  <%= @item.remote_dispensing %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @item.image_file_name %>
</p>

<p>
  <strong>Imprint side1:</strong>
  <%= @item.imprint_side1 %>
</p>

<p>
  <strong>Imprint side2:</strong>
  <%= @item.imprint_side2 %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @item.shape %>
</p>

<p>
  <strong>Color:</strong>
  <%= @item.color %>
</p>

<p>
  <strong>Image description:</strong>
  <%= @item.image_description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
