<%= simple_form_for(@clinical_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ndc_number %>
    <%= f.input :gcn_seqno %>
    <%= f.input :label_name %>
    <%= f.input :labeler_id %>
    <%= f.input :package_size %>
    <%= f.input :additional_description %>
    <%= f.input :previous_ndc_number %>
    <%= f.input :new_ndc_number %>
    <%= f.input :ndc_format_flag %>
    <%= f.input :clinical_drug_class %>
    <%= f.input :date_added %>
    <%= f.input :date_updated %>
    <%= f.input :generic_product_indicator %>
    <%= f.input :drug_form %>
    <%= f.input :stocked_in_hospital_flag %>
    <%= f.input :innovator_flag %>
    <%= f.input :stocked_in_nursing_home_flag %>
    <%= f.input :stocked_in_retail_flag %>
    <%= f.input :maintenance_drug %>
    <%= f.input :home_health_flag %>
    <%= f.input :manufacturer %>
    <%= f.input :patient_package_insert %>
    <%= f.input :standard_package_size %>
    <%= f.input :repackaged %>
    <%= f.input :top_200_ranking %>
    <%= f.input :unit_dose %>
    <%= f.input :case_pack %>
    <%= f.input :color %>
    <%= f.input :flavor %>
    <%= f.input :shape %>
    <%= f.input :unit_of_use %>
    <%= f.input :label_name25 %>
    <%= f.input :awp_update_date %>
    <%= f.input :private_labeler %>
    <%= f.input :hcpc_code %>
    <%= f.input :top_50_generic %>
    <%= f.input :generic_named_drug %>
    <%= f.input :generic_therapeutic_indicator %>
    <%= f.input :generic_id1 %>
    <%= f.input :drug_unit_cost %>
    <%= f.input :drug_package_cost %>
    <%= f.input :drug_unit_mac %>
    <%= f.input :drug_unit_awp %>
    <%= f.input :drug_package_awp %>
    <%= f.input :orange_book_code %>
    <%= f.input :orange_book_code_expanded %>
    <%= f.input :orange_book_code3 %>
    <%= f.input :package_size_equivalent %>
    <%= f.input :brand_name %>
    <%= f.input :dea_schedule %>
    <%= f.input :gcn_number %>
    <%= f.input :monograph %>
    <%= f.input :hispanic_monograph %>
    <%= f.input :strength %>
    <%= f.input :drug_category_class %>
    <%= f.input :generic_therapeutic_class %>
    <%= f.input :therapeutic_class %>
    <%= f.input :route %>
    <%= f.input :dose_form %>
    <%= f.input :hicl_sequence_number %>
    <%= f.input :gender %>
    <%= f.input :hierarchial_ingredient_code3 %>
    <%= f.input :hierarchial_ingredient_sequence_number %>
    <%= f.input :strength_number %>
    <%= f.input :strength_units %>
    <%= f.input :volume_number %>
    <%= f.input :volume_units %>
    <%= f.input :min_max_adult_minimum_daily_dose_strength_quantity %>
    <%= f.input :min_max_adult_minimum_daily_dose_strength_units %>
    <%= f.input :min_max_adult_minimum_daily_dose_units_quantity %>
    <%= f.input :min_max_adult_minimum_daily_dose_units_form %>
    <%= f.input :min_max_adult_maximum_daily_dose_strength_quantity %>
    <%= f.input :min_max_adult_maximum_daily_dose_strength_units %>
    <%= f.input :min_max_adult_maximum_daily_dose_units_quantity %>
    <%= f.input :min_max_adult_maximum_daily_dose_units_form %>
    <%= f.input :min_max_geriatric_minimum_daily_dose_strength_quantity %>
    <%= f.input :min_max_geriatric_minimum_daily_dose_strength_units %>
    <%= f.input :min_max_geriatric_minimum_daily_dose_units_quantity %>
    <%= f.input :min_max_geriatric_minimum_daily_dose_units_form %>
    <%= f.input :min_max_geriatric_maximum_daily_dose_strength_quantity %>
    <%= f.input :min_max_geriatric_maximum_daily_dose_strength_units %>
    <%= f.input :min_max_geriatric_maximum_daily_dose_units_quantity %>
    <%= f.input :min_max_geriatric_maximum_daily_dose_units_form %>
    <%= f.input :ahfs_code %>
    <%= f.input :drug_disease_contraindication_codes %>
    <%= f.input :counseling_message_codes %>
    <%= f.input :interaction_codes %>
    <%= f.input :geriatric_codes %>
    <%= f.input :pediatric_codes %>
    <%= f.input :indication_codes %>
    <%= f.input :lactation_codes %>
    <%= f.input :pregnancy_codes %>
    <%= f.input :side_effect_codes %>
    <%= f.input :label_codes %>
    <%= f.input :drug_food_interaction_codes %>
    <%= f.input :drug_lab_interference_codes %>
    <%= f.input :duplicate_therapy_codes %>
    <%= f.input :hierarchial_ingredient_sequence_number_list %>
    <%= f.input :hierarchial_ingredient_code_root %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
