<p id="notice"><%= notice %></p>

<p>
  <strong>Ndc number:</strong>
  <%= @clinical_master.ndc_number %>
</p>

<p>
  <strong>Gcn seqno:</strong>
  <%= @clinical_master.gcn_seqno %>
</p>

<p>
  <strong>Label name:</strong>
  <%= @clinical_master.label_name %>
</p>

<p>
  <strong>Labeler:</strong>
  <%= @clinical_master.labeler_id %>
</p>

<p>
  <strong>Package size:</strong>
  <%= @clinical_master.package_size %>
</p>

<p>
  <strong>Additional description:</strong>
  <%= @clinical_master.additional_description %>
</p>

<p>
  <strong>Previous ndc number:</strong>
  <%= @clinical_master.previous_ndc_number %>
</p>

<p>
  <strong>New ndc number:</strong>
  <%= @clinical_master.new_ndc_number %>
</p>

<p>
  <strong>Ndc format flag:</strong>
  <%= @clinical_master.ndc_format_flag %>
</p>

<p>
  <strong>Clinical drug class:</strong>
  <%= @clinical_master.clinical_drug_class %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @clinical_master.date_added %>
</p>

<p>
  <strong>Date updated:</strong>
  <%= @clinical_master.date_updated %>
</p>

<p>
  <strong>Generic product indicator:</strong>
  <%= @clinical_master.generic_product_indicator %>
</p>

<p>
  <strong>Drug form:</strong>
  <%= @clinical_master.drug_form %>
</p>

<p>
  <strong>Stocked in hospital flag:</strong>
  <%= @clinical_master.stocked_in_hospital_flag %>
</p>

<p>
  <strong>Innovator flag:</strong>
  <%= @clinical_master.innovator_flag %>
</p>

<p>
  <strong>Stocked in nursing home flag:</strong>
  <%= @clinical_master.stocked_in_nursing_home_flag %>
</p>

<p>
  <strong>Stocked in retail flag:</strong>
  <%= @clinical_master.stocked_in_retail_flag %>
</p>

<p>
  <strong>Maintenance drug:</strong>
  <%= @clinical_master.maintenance_drug %>
</p>

<p>
  <strong>Home health flag:</strong>
  <%= @clinical_master.home_health_flag %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @clinical_master.manufacturer %>
</p>

<p>
  <strong>Patient package insert:</strong>
  <%= @clinical_master.patient_package_insert %>
</p>

<p>
  <strong>Standard package size:</strong>
  <%= @clinical_master.standard_package_size %>
</p>

<p>
  <strong>Repackaged:</strong>
  <%= @clinical_master.repackaged %>
</p>

<p>
  <strong>Top 200 ranking:</strong>
  <%= @clinical_master.top_200_ranking %>
</p>

<p>
  <strong>Unit dose:</strong>
  <%= @clinical_master.unit_dose %>
</p>

<p>
  <strong>Case pack:</strong>
  <%= @clinical_master.case_pack %>
</p>

<p>
  <strong>Color:</strong>
  <%= @clinical_master.color %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @clinical_master.flavor %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @clinical_master.shape %>
</p>

<p>
  <strong>Unit of use:</strong>
  <%= @clinical_master.unit_of_use %>
</p>

<p>
  <strong>Label name25:</strong>
  <%= @clinical_master.label_name25 %>
</p>

<p>
  <strong>Awp update date:</strong>
  <%= @clinical_master.awp_update_date %>
</p>

<p>
  <strong>Private labeler:</strong>
  <%= @clinical_master.private_labeler %>
</p>

<p>
  <strong>Hcpc code:</strong>
  <%= @clinical_master.hcpc_code %>
</p>

<p>
  <strong>Top 50 generic:</strong>
  <%= @clinical_master.top_50_generic %>
</p>

<p>
  <strong>Generic named drug:</strong>
  <%= @clinical_master.generic_named_drug %>
</p>

<p>
  <strong>Generic therapeutic indicator:</strong>
  <%= @clinical_master.generic_therapeutic_indicator %>
</p>

<p>
  <strong>Generic id1:</strong>
  <%= @clinical_master.generic_id1 %>
</p>

<p>
  <strong>Drug unit cost:</strong>
  <%= @clinical_master.drug_unit_cost %>
</p>

<p>
  <strong>Drug package cost:</strong>
  <%= @clinical_master.drug_package_cost %>
</p>

<p>
  <strong>Drug unit mac:</strong>
  <%= @clinical_master.drug_unit_mac %>
</p>

<p>
  <strong>Drug unit awp:</strong>
  <%= @clinical_master.drug_unit_awp %>
</p>

<p>
  <strong>Drug package awp:</strong>
  <%= @clinical_master.drug_package_awp %>
</p>

<p>
  <strong>Orange book code:</strong>
  <%= @clinical_master.orange_book_code %>
</p>

<p>
  <strong>Orange book code expanded:</strong>
  <%= @clinical_master.orange_book_code_expanded %>
</p>

<p>
  <strong>Orange book code3:</strong>
  <%= @clinical_master.orange_book_code3 %>
</p>

<p>
  <strong>Package size equivalent:</strong>
  <%= @clinical_master.package_size_equivalent %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @clinical_master.brand_name %>
</p>

<p>
  <strong>Dea schedule:</strong>
  <%= @clinical_master.dea_schedule %>
</p>

<p>
  <strong>Gcn number:</strong>
  <%= @clinical_master.gcn_number %>
</p>

<p>
  <strong>Monograph:</strong>
  <%= @clinical_master.monograph %>
</p>

<p>
  <strong>Hispanic monograph:</strong>
  <%= @clinical_master.hispanic_monograph %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @clinical_master.strength %>
</p>

<p>
  <strong>Drug category class:</strong>
  <%= @clinical_master.drug_category_class %>
</p>

<p>
  <strong>Generic therapeutic class:</strong>
  <%= @clinical_master.generic_therapeutic_class %>
</p>

<p>
  <strong>Therapeutic class:</strong>
  <%= @clinical_master.therapeutic_class %>
</p>

<p>
  <strong>Route:</strong>
  <%= @clinical_master.route %>
</p>

<p>
  <strong>Dose form:</strong>
  <%= @clinical_master.dose_form %>
</p>

<p>
  <strong>Hicl sequence number:</strong>
  <%= @clinical_master.hicl_sequence_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @clinical_master.gender %>
</p>

<p>
  <strong>Hierarchial ingredient code3:</strong>
  <%= @clinical_master.hierarchial_ingredient_code3 %>
</p>

<p>
  <strong>Hierarchial ingredient sequence number:</strong>
  <%= @clinical_master.hierarchial_ingredient_sequence_number %>
</p>

<p>
  <strong>Strength number:</strong>
  <%= @clinical_master.strength_number %>
</p>

<p>
  <strong>Strength units:</strong>
  <%= @clinical_master.strength_units %>
</p>

<p>
  <strong>Volume number:</strong>
  <%= @clinical_master.volume_number %>
</p>

<p>
  <strong>Volume units:</strong>
  <%= @clinical_master.volume_units %>
</p>

<p>
  <strong>Min max adult minimum daily dose strength quantity:</strong>
  <%= @clinical_master.min_max_adult_minimum_daily_dose_strength_quantity %>
</p>

<p>
  <strong>Min max adult minimum daily dose strength units:</strong>
  <%= @clinical_master.min_max_adult_minimum_daily_dose_strength_units %>
</p>

<p>
  <strong>Min max adult minimum daily dose units quantity:</strong>
  <%= @clinical_master.min_max_adult_minimum_daily_dose_units_quantity %>
</p>

<p>
  <strong>Min max adult minimum daily dose units form:</strong>
  <%= @clinical_master.min_max_adult_minimum_daily_dose_units_form %>
</p>

<p>
  <strong>Min max adult maximum daily dose strength quantity:</strong>
  <%= @clinical_master.min_max_adult_maximum_daily_dose_strength_quantity %>
</p>

<p>
  <strong>Min max adult maximum daily dose strength units:</strong>
  <%= @clinical_master.min_max_adult_maximum_daily_dose_strength_units %>
</p>

<p>
  <strong>Min max adult maximum daily dose units quantity:</strong>
  <%= @clinical_master.min_max_adult_maximum_daily_dose_units_quantity %>
</p>

<p>
  <strong>Min max adult maximum daily dose units form:</strong>
  <%= @clinical_master.min_max_adult_maximum_daily_dose_units_form %>
</p>

<p>
  <strong>Min max geriatric minimum daily dose strength quantity:</strong>
  <%= @clinical_master.min_max_geriatric_minimum_daily_dose_strength_quantity %>
</p>

<p>
  <strong>Min max geriatric minimum daily dose strength units:</strong>
  <%= @clinical_master.min_max_geriatric_minimum_daily_dose_strength_units %>
</p>

<p>
  <strong>Min max geriatric minimum daily dose units quantity:</strong>
  <%= @clinical_master.min_max_geriatric_minimum_daily_dose_units_quantity %>
</p>

<p>
  <strong>Min max geriatric minimum daily dose units form:</strong>
  <%= @clinical_master.min_max_geriatric_minimum_daily_dose_units_form %>
</p>

<p>
  <strong>Min max geriatric maximum daily dose strength quantity:</strong>
  <%= @clinical_master.min_max_geriatric_maximum_daily_dose_strength_quantity %>
</p>

<p>
  <strong>Min max geriatric maximum daily dose strength units:</strong>
  <%= @clinical_master.min_max_geriatric_maximum_daily_dose_strength_units %>
</p>

<p>
  <strong>Min max geriatric maximum daily dose units quantity:</strong>
  <%= @clinical_master.min_max_geriatric_maximum_daily_dose_units_quantity %>
</p>

<p>
  <strong>Min max geriatric maximum daily dose units form:</strong>
  <%= @clinical_master.min_max_geriatric_maximum_daily_dose_units_form %>
</p>

<p>
  <strong>Ahfs code:</strong>
  <%= @clinical_master.ahfs_code %>
</p>

<p>
  <strong>Drug disease contraindication codes:</strong>
  <%= @clinical_master.drug_disease_contraindication_codes %>
</p>

<p>
  <strong>Counseling message codes:</strong>
  <%= @clinical_master.counseling_message_codes %>
</p>

<p>
  <strong>Interaction codes:</strong>
  <%= @clinical_master.interaction_codes %>
</p>

<p>
  <strong>Geriatric codes:</strong>
  <%= @clinical_master.geriatric_codes %>
</p>

<p>
  <strong>Pediatric codes:</strong>
  <%= @clinical_master.pediatric_codes %>
</p>

<p>
  <strong>Indication codes:</strong>
  <%= @clinical_master.indication_codes %>
</p>

<p>
  <strong>Lactation codes:</strong>
  <%= @clinical_master.lactation_codes %>
</p>

<p>
  <strong>Pregnancy codes:</strong>
  <%= @clinical_master.pregnancy_codes %>
</p>

<p>
  <strong>Side effect codes:</strong>
  <%= @clinical_master.side_effect_codes %>
</p>

<p>
  <strong>Label codes:</strong>
  <%= @clinical_master.label_codes %>
</p>

<p>
  <strong>Drug food interaction codes:</strong>
  <%= @clinical_master.drug_food_interaction_codes %>
</p>

<p>
  <strong>Drug lab interference codes:</strong>
  <%= @clinical_master.drug_lab_interference_codes %>
</p>

<p>
  <strong>Duplicate therapy codes:</strong>
  <%= @clinical_master.duplicate_therapy_codes %>
</p>

<p>
  <strong>Hierarchial ingredient sequence number list:</strong>
  <%= @clinical_master.hierarchial_ingredient_sequence_number_list %>
</p>

<p>
  <strong>Hierarchial ingredient code root:</strong>
  <%= @clinical_master.hierarchial_ingredient_code_root %>
</p>

<%= link_to 'Edit', edit_clinical_master_path(@clinical_master) %> |
<%= link_to 'Back', clinical_masters_path %>
